@import 'vendor/bootstrap';

$open-sans: "Open Sans", "Arial", san-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

$line-height: 30px;
$paragraph-text: 1.1em;

$text-dark: #373737;
$text-light: #7B7B7B;
$background-dark-blue: #25292D;
$background-light-grey: #F5F5F5;
$background-light-green: #43BA63;

$background-light-blue: #2C8EFE;

$border: 1px solid #ddd;
$padding: 10px;
$label-font-size: 13px;

$transition-time: 0.2s;
$short-transition: 0.1s;

// Define General Styling
html {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;

  body {
    font-family: $open-sans;
    height: 100%;
    margin: 0;
  }
}

@-webkit-keyframes rotation-right {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation-right {
  0%   { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation-right {
  0%   { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes rotation-left {
  0%   { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes rotation-left {
  0%   { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-ms-keyframes rotation-left {
  0%   { -ms-transform: rotate(360deg); }
  100% { -ms-transform: rotate(0deg); }
}

img, ul, li {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  transition: $short-transition;
  cursor: pointer;

  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

.button  {
  display: block;
  font-weight: $weight-semibold;
  padding: 20px 0;
  border: solid 2px #fff;
  letter-spacing: 1.5px;
  border-radius: 8px;
  text-align: center;
  width: 100%;

  &:hover {
    transition: $short-transition;
  }
}

.container {
  max-width: 1200px;
}

.large-container {
  max-width: 1300px;
  margin: 0 auto;
}

.link-underline {
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: $background-dark-blue;
    width: 100%;
    bottom: 5px;
    left: 0;
  }
}

// Defines styles for all text in header containers
// ----------------------------------------------
// TODO: clean up all the & and >
.section-header-container {
  text-align: center;
  margin-bottom: 80px;

  >h2 {
    font-weight: $weight-bold;
    color: $text-dark;
    font-size: 50px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    position: relative;

    &:before, &:after {
      content: '';
      display: none;
      height: 1px;
      width: 100px;
      background-color: $text-dark;
      position: absolute;
      top: 35px;
    }

    &:before {
      left: 50px;
    }

    &:after {
      right: 50px;
    }

    >.underline {
      font-family: 'Permanent Marker', sans-serif;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #FFF;
        width: 100%;
        bottom: 5px;
        left: 0;
      }
    }
  }

  >p {
    font-weight: $weight-light;
    color: $text-light;
    font-size: 15px;
    letter-spacing: 3px;
  }
}

// Defines styles for all text in text containers
// ----------------------------------------------
.section-text-container {
  text-align: center;

  >h3 {
    color: $text-dark;
    font-weight: $weight-semibold;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 0 0 20px 0;

  }

  >p, >ul {
    color: $text-light;
    font-weight: $weight-light;
    font-size: $paragraph-text;
    line-height: $line-height;
    letter-spacing: 0.5px;
  }
}

.section-container {
  width: 100%;
  padding: 50px 15px;
}

.browser-container {
  overflow: hidden;

  .browser {
    display: none;
  }
}

// Hero Section
// ----------------------------------------------
#hero.jumbotron {
  height: 100%;
  min-height: 550px;
  padding-top: 50px;
  margin: 0;

  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/desk.jpg");
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

  text-align: center;

  h1 {
    font-size: 50px/70px;
    font-weight: $weight-bold;
  }

  p {
    font-size: 20px;
  }
}

// Navigation Bar
// ----------------------------------------------
#nav-element {
  background-color: #FFF;
  font-family: $open-sans;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
  z-index: 20000;
  border-radius: 0;
  top: 0;

  .navbar-brand {
    color: $text-dark;
    font-weight: $weight-bold;
    font-size: 20px;
    letter-spacing: 1px;
  }

  //TODO: make sure text styles are consistent
  li > a {
    font-size: $paragraph-text;
    color: $text-light;
    letter-spacing: 3px;

    &:hover {
      background-color: inherit;
      color: $background-dark-blue;
    }

    &:active, &:focus {
      background-color: inherit;
    }
  }

  #full-navigation {
    .highlight {
      color: $background-dark-blue;
    }

    a:after {
      content: '';
      position: absolute;
      display: block;
      transition: $short-transition;
      opacity: 0;
      bottom: 0;
      left: 5px;
      right: 5px;
      height: 1px;
      background-color: $background-dark-blue;
    }

    .highlight:after {
      opacity: 1;
      bottom: 10px;
    }
  }

  .icon-bar {
    background-color: $text-light;
  }

  .navbar-brand {
    margin-left: 15px;
  }

  .navbar-toggle {
    margin-right: 15px;
  }
}

// About Section
// ----------------------------------------------
.about-video {
  height: 400px;
  border-bottom: solid $text-light 1px;
  margin: 0 auto 25px;
  box-shadow: 0 5px 7px -5px rgba(0,0,0,0.2);
  max-width: 400px;
}

// About Interests
// ----------------------------------------------
//TODO: Need to change hacky nature of using a jumbotron here
.about-interests {
  background-color: $background-light-grey;
  margin: 50px 0 0 0;
  padding: 50px 15px;

  ul, li {
    list-style-type: none;
  }

  li {
    color: $text-light;
    margin-bottom: 5px;

    &:last-child {
      margin: 0;
    }
  }
}

// Developer
// ----------------------------------------------
//TODO:major refactoring needs to be done to DRY this all up

#developer .section-header-container,
#designer .section-header-container {
  h2:before,
  h2:after {
    display: none;
  }
}

#developer {
  background-color: $background-dark-blue;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 100;

  h2, h3, p, a {
    color: #FFF;
  }

  li>p {
    font-weight: $weight-semibold;
    letter-spacing: 1.5px;
    font-size: $paragraph-text;
  }

  a {
    margin: 30px 0;

    &:hover {
      background-color: #FFF;
      color: $background-dark-blue;
    }
  }

  .section-container {
    z-index: 20;
    margin: 0 auto;
    padding-bottom: 0;
  }

  // TODO: Too much nesting, refactor
  .progress-bar-container {
    margin: 20px 0;

    li {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 5px;
    }

    .progress-bar {
      width: 100%;
      height: 17px;
      border-radius: 4px;
      background-color: #35393C;
      float: none;

      .percentage {
        background-color: $background-light-green;
        height: 17px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .percentage-html {
        width: 90%;
      }

      .percentage-js {
        width: 80%;
      }

      .percentage-ruby {
        width: 65%;
      }

      .percentage-python {
        width: 50%;
      }
    }
  }

  .rotation-left {
    -webkit-animation: rotation-left 12s linear infinite;
    -moz-animation: rotation-left 12s linear infinite;
    -ms-animation: rotation-left 12s linear infinite;
  }

  .rotation-right {
    -webkit-animation: rotation-right 12s linear infinite;
    -moz-animation: rotation-right 12s linear infinite;
    -ms-animation: rotation-right 12s linear infinite;
  }

  .gear {
    background: url('/images/gear_icon.svg');
    position: absolute;
  }

  #gear-one {
    bottom: -200px;
    height: 500px;
    left: -150px;
    width: 500px;
  }

  #gear-two {
    bottom: 300px;
    height: 250px;
    left: -100px;
    width: 250px;
  }

  #gear-three {
    bottom: -150px;
    height: 600px;
    right: -300px;
    width: 600px;
  }

  #trigger-element {
    position: absolute;
    bottom: 0;
  }
}

// Designer
// ----------------------------------------------
#designer {
  padding-bottom: 0;
  background-color: $background-light-grey;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;

  p {
    color: $text-light;
  }

  h2, h3 {
    color: $text-dark;
  }

  .section-header-container .underline:after {
    background-color: $text-dark;
  }
}

// My Work
// ----------------------------------------------
// TODO: Excessive nesting fix later
#work {
  padding-bottom: 25px;

  ul {
    text-align: center;

    li {
      display: inline-block;
    }

    a {
      font-weight: $weight-light;
      color: $text-light;
      font-size: 15px;
      letter-spacing: 3px;
      padding: 0 30px;

      &:hover {
        font-weight: $weight-semibold;
      }
    }
  }
}


// Portfolio
// ----------------------------------------------
#portfolio {
  // TODO: Complex nesting, fix
  #masonry {
    margin: 0 auto;

    .item {
      background-color: $background-dark-blue;
      transition-property: transform, opacity;

      float: left;
      height: 250px;
      width: 100%;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        z-index: 5000;
        width: 100%;
        min-height: 250px;
      }

      .project-button-background {
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10000;
        padding: 15% 0;
      }

      &:hover .project-button-background {
        display: inline-flex;
        transition-duration: $transition-time;
      }

      .project-button-wrapper {
        color: #FFF;
        text-align: center;
        margin: auto auto;

        p {
          font-weight: $weight-semibold;
          font-size: 20px;
        }

        // TODO: Repetitive code from button, DRY it up
        a {
          display: block;
          font-weight: $weight-semibold;
          padding: 10px 0;
          border: solid 2px #fff;
          letter-spacing: 1.5px;
          border-radius: 6px;
          text-align: center;
          width: 130px;
          margin: 0 auto;
          color: #FFF;

          &:hover {
            background-color: #FFF;
            transition: $short-transition;
            color: $background-dark-blue;
          }
        }
      }
    }

    .item-project-info {
      background-color: $background-dark-blue;
      transition-property: transform, opacity;

      float: left;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
  }

  & .item {
    transition-duration: 0.4s;
    transition-property: transform, opacity;
  }
}

// Project Info
// ----------------------------------------------
.project-info {
  background-color: $background-light-grey;
  padding: 75px 0 0 0;

  .company-name {
    display: block;
    margin-bottom: 15px;
  }

  .company-name,
  .tools-used {
    font-size: $paragraph-text;
    color: $text-light;
    font-weight: $weight-semibold;
  }

  .tools-used {
    font-size: $paragraph-text;
    display: inline-block;
    margin-right: 5px;
  }

  .tools {
    display: inline-block;
  }
}
// Recommendations
// ----------------------------------------------

.recommendations {
  height: 100%;
  min-height: 750px;

  background-color: $background-light-grey;
}




// Contact Me
// ----------------------------------------------
#contact {
  .container {
    padding: 0;
  }

  .section-container {
    padding: 60px;
  }
}

.contact-form-container {

  h3 {
    font-weight: $weight-bold;
    font-size: 30px;
    letter-spacing: 3px;
  }

  // This creates the form animation
  // TODO: Make container expand when label is displayed
  .float-label {
    .control {
      position: relative;
      overflow: hidden;
      width: 100%;
      border-bottom: $border;
      padding-top: 15px + $label-font-size;
      padding-bottom: 10px;
    }

    form {
      margin: 3em auto;

      font-weight: $weight-light;
      color: $text-light;
      font-size: 15px;
      letter-spacing: 3px;
    }

    input, textarea {
      display: block;
      width: 100%;
      border: 0;
      outline: 0;
      resize: none;

      & + label {
        position: absolute;
        display: block;
        top: 10px;
        left: 0;
        transition: top 0.7s ease, opacity 0.7s ease;
        opacity: 0;

        font-size: $label-font-size;
        font-weight: 600;
        color: #ccc;
      }

      &:valid + label {
        opacity: 1;
        top: 3px;
      }

      &:focus + label {
        transition: $transition-time;
        color: $background-light-blue;
      }
    }
  }

  textarea {
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    height: 22px;
  }

  .button {
    display: block;
    color: $background-light-blue;
    background-color: inherit;
    font-weight: $weight-semibold;
    padding: 20px 0;
    border: solid 2px $background-light-blue;
    letter-spacing: 1.5px;
    border-radius: 8px;
    margin: $line-height auto 0;

    &:hover, &:focus {
      color: #FFF;
      background-color: #2C8EFE;
    }

    &:active {
      color: #FFF;
      transition: $short-transition;
      background-color: $background-dark-blue;
    }
  }
}


.contact-links-container {
  li {
    margin-bottom: 10px;

    a:last-child {
      margin-bottom: 0;
    }

    a:hover {
      transition: $transition-time;
      font-weight: $weight-semibold;
    }
  }

  .twitter {
    color: #289BE5;
  }

  .dribbble {
    color: #DE6097;
  }

  .linkedin {
    color: #0077B5;
  }

  .medium {
    color: #333332;
  }
}

// Footer
// ----------------------------------------------
.footer {
  position: relative;
  background-color: $background-dark-blue;
  height: 150px;
  overflow: hidden;
}


// Media Queries - Responsiveness
// ----------------------------------------------
@media screen and (min-width: 320px) {
  #portfolio {
    masonry {
      .item {
        width: 100%;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .browser-container {
    .browser {
      display: block;
    }
  }

  #nav-element {
    .collapse {
      background-color: #FFF;
    }
  }

  .section-container {
    width: 100%;
    padding: 50px 50px;
  }

  .section-header-container {
    h2 {
      font-size: 60px;

      &:after, &:before {
        display: block;
      }
    }

    p {
      font-size: 20px;
    }
  }

  .section-text-container {
    text-align: left;
  }

  #hero.jumbotron {
    padding: 75px;

    #logo {
      height: 75px;
    }

    h1 {
      margin-top: 100px;
    }
  }

  #developer .developer-concise,
  #designer .designer-showtell {
      text-align: right;
  }

  .designer {
    .designer-showtell {
      text-align: right;
    }
  }

  .contact-form-container {
    .button {
      width: 200px;
      margin: $line-height 0 auto 0;
    }
  }

  .contact-links-container {
    .button {
      margin: $line-height 0 0 0;
    }
  }

  #portfolio #masonry .item {
      width: 50%;
  }

  nav {
    .navbar-brand {
      font-size: 40px;
    }
  }
}

@media screen and (min-width: 1024px) {
  #portfolio #masonry .item {
        width: 33.3333%;
  }
}

@media screen and (min-width: 1280px) {
  #portfolio #masonry .item {
    width: 25%;
  }
}

