// Vendor
// ----------------------------------------------------------------------
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import '../bower_components/normalize.css/normalize.css';

// Globals
// ----------------------------------------------------------------------
@import 'globals/animations';
@import 'globals/mixins';
@import 'globals/variables';

// Components
// ----------------------------------------------------------------------
@import 'components/containers';
@import 'components/navigation';
@import 'components/buttons';

html {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  font-family: $gotham;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

img, ul, li {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: $short-transition;

  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

i {
  -webkit-font-smoothing: antialiased;
}

.gear {
  background: url('http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_40,w_600/v1433742601/gear_icon_ssd59j.svg');
  position: absolute;
}

.gear-dark {
  background: url('http://res.cloudinary.com/alecoortega/image/upload/q_40/v1433742629/gear_icon_dark_jkq40y.svg');
  position: absolute;
}

.column {
  position: relative;


  @include breakpoint($medium-breakpoint) {
    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(3) {
      padding-right: 0;
    }
  }
}

.center-column {
  padding: 0;
}

// Hero Section
// ----------------------------------------------
.hero {
  background-color: $background-dark-blue;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
                                    rgba(0, 0, 0, 0.5)),
                    url('http://wallpaper-download.net/wallpapers/beach-wallpapers-blue-ocean-waves-wallpaper-36890.jpg');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  position: relative;
  @include size(100%, 100%);


  h1 {
    color: #FFF;
    font-size: 3.15em;
    @include fadeInUp;
    font-weight: $weight-regular;
    line-height: 1.25em;
    margin: 0 0 15px 0;
    letter-spacing: 3px;

    @include breakpoint($small-breakpoint) {
      font-size: 60px;
    }
  }

  .hero-arrow {
    @include absolute-horizontal-center;
    background: url('http://res.cloudinary.com/alecoortega/image/upload/v1433744075/down_arrow_phzt3h.svg') no-repeat;
    bottom: 30px;
    @include fadeInUp;
    @include size(40px, 15px);
    -webkit-animation-delay: 1.5s;
  }

  .hero-container {
    @include absolute-all-center;
    max-width: 500px;
    @include size(100%, 80px);
    text-align: center;
  }

  .hero-nav-wrapper {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    border: none;

    .hero-nav-links li {
      display: inline-block;
    }

    // TODO: Again this is a repeat
    .navbar-brand {
      background-image: url('http://res.cloudinary.com/alecoortega/image/upload/v1433742938/logo_q4yhrv.svg');
      color: #FFF;
      font-weight: $weight-important;
    }

    .navbar-container {

    }
  }
}

// Navigation Bar
// ----------------------------------------------
.nav-trigger {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  transition: 0.4s;
  z-index: 1000;
}

.nav-trigger-in {
  top: 0
}

.nav-element {
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);

  .navbar-brand {
    background-image: url('http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_20,w_300/v1433742896/logo_dark_nxlkcb.svg');
    color: $text-dark;
    font-weight: $weight-important;
  }

  li a {
    color: $text-light;

    &:hover {
      color: $background-dark-blue;
    }
  }

  #full-navigation {
    a {
      &:after {
        @include breakpoint($small-breakpoint) {
          opacity: 0;
          bottom: 0;
          content: '';
          position: absolute;
          transition: $short-transition;
          left: 5px;
          right: 5px;
          height: 1px;
          background-color: $background-dark-blue;
        }
      }
    }

    .highlight {
      color: $background-dark-blue;

      &:after {
        bottom: 10px;
        opacity: 1;
      }
    }
  }
}



// About Section
// ----------------------------------------------
#about {
  padding: 50px 0;

  @include breakpoint($small-breakpoint) {
    padding: 125px 0 100px 0;
  }

  .about-video {
    border-bottom: solid $border-color 1px;
    box-shadow: 0 5px 7px -5px rgba(0,0,0,0.1);
    height: 400px;
    margin: 0 auto 25px;
    max-width: 400px;
  }
}


// Browser Animation
// ----------------------------------------------

#browser-developer-element,
#browser-designer-element,
#resume-element {
  @include box-shadow;
  width: 95%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#browser-developer-element,
#browser-designer-element {
  border-radius: 7px;

}

#browser-developer-element {
  box-shadow: 0 2px 6px rgba(0,0,0,0.42),
  0 0 1px rgba(0,0,0,0.12),
  inset 0 -1px 2px rgba(14,60,86,0.1);
}

#browser-designer-element {
  box-shadow: 0 2px 6px rgba(0,0,0,0.22),
  0 0 1px rgba(0,0,0,0.12),
  inset 0 -1px 2px rgba(14,60,86,0.1);
  position: absolute;

}

#browser-developer-trigger,
.resume-trigger {
  height: 1000px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

#browser-developer-trigger {
  height: 975px;
}

#browser-designer-element {
  top: 150px;
}

// Developer
// ----------------------------------------------
#developer {
  background: linear-gradient(to bottom right, #182E4A,#325E74, #46a4b9);
  padding: 50px 0;
  position: relative;

  @include breakpoint($small-breakpoint) {
    padding: 50px 0 50px;
  }

  @include breakpoint($medium-breakpoint) {
    padding: 50px 50px 0;
  }

  h3, p, li {
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  h3 {
    color: #FFF;
  }

  p, li {
    color: #CEE6EA;
  }

  .gear-dark {
    opacity: 0.04;
  }

  #gear-one {
    bottom: -200px;
    height: 500px;
    right: -150px;
    @include rotation-right;
    width: 500px;
  }

  #gear-two {
    bottom: 300px;
    height: 250px;
    right: -100px;
    @include rotation-left;
    width: 250px;
  }

  #gear-three {
    height: 600px;
    left: -300px;
    opacity: 0.1;
    top: 200px;
    @include rotation-left;
    width: 600px;

    @include breakpoint($medium-breakpoint) {
      top: 275px;
    }
  }

  #gear-six {
    height: 500px;
    right: -200px;
    top: -100px;
    @include rotation-right;
    width: 500px;
  }

  .column {
    @include breakpoint($medium-breakpoint) {
      margin-bottom: 150px;
    }
  }

  .developer-background-container {
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    right: 0;
    bottom:0;
  }

  .section-container {
    padding-bottom: 0;
  }
}

.developer-gradient {
  background: linear-gradient(90deg, #202C38, #273644, #3f6882, #273644, #202C38);
  bottom: 0;
  left: -600px;
  position: absolute;
  top: 0;
  width: 600px;
}

.developer-button-github {
  margin: 50px auto;
}

// Designer
// ----------------------------------------------

#designer {
  background-color: #FFF;
  box-shadow: 0 -50px 200px rgba(24,46,74,0.25);
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  z-index: 100;


  @include breakpoint($small-breakpoint) {
    padding: 30px 0 30px;
  }

  @include breakpoint($medium-breakpoint) {
    padding: 30px 50px 0;
  }

  h3 {
    color: #000;
  }

  p {
    color: $text-light;
    text-shadow: 0 1px 0 #FFF;
  }

  i {
    color: #68c62f;
    background: linear-gradient(#68c62f,#55b31c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .column {
    @include breakpoint($medium-breakpoint) {
      margin-bottom: 150px;
    }
  }

  .column {
    @include breakpoint($medium-breakpoint) {
      margin-top: 50px;
    }
  }
  .section-container {
    padding-bottom: 0;
  }

  .section-header-container {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin-bottom: 0;

    h2 {
      color: #000;
    }
  }
}

.designer-button-behance {
  margin: 50px auto;
}

// Resume
// ----------------------------------------------

#resume {
  background: $background-light-grey;
  border-bottom: 1px solid #e9eaec;
  border-top: 1px solid #e9eaec;
  overflow: hidden;
  position: relative;
  padding-top: 75px;
  z-index: 100;

  color: #c8cbcd;


  @include breakpoint($small-breakpoint) {
    padding: 0 50px 50px 50px;
  }

  .resume-button-download, .resume-button-linkedin {
    margin: 50px 0;
  }

  .resume-card-container {
    margin: 50px auto 0;
    perspective: 1250px;
    padding-top: 120%;
    width: 70%;

    &:first-child {
      margin-top: 250px;
    }

    &:nth-child(2) .resume-card {
      & .resume-card-front {
        background: url('/images/card-back.png');
        background-size: cover;
        @include box-shadow;
      }

      & .resume-card-back {
        background: url('/images/card-front.png');
        background-size: cover;
        @include box-shadow;
        transform: rotateY( 180deg );
      }
    }
  }

  .resume-card {
    position: absolute;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    transition: transform 0.75s;

    & figure {
      backface-visibility: hidden;
      display: block;
      position: absolute;
      @include size(100%, 100%);
    }

    &:hover {
      transform: rotateY( 180deg );
    }

    & .resume-card-front {
      background: url('/images/card-front.png');
      background-size: cover;
      @include box-shadow;
    }

    & .resume-card-back {
      background: url('/images/card-back.png');
      background-size: cover;
      @include box-shadow;
      transform: rotateY( 180deg );
    }
  }

  .resume-moleskin {
    @include box-shadow;
    background: url('http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_10,w_400/v1433742719/moleskin_bqe1ao.png');
    background-size: cover;
    border-radius: 5px 25px 25px 5px;
    padding-top: 157.5%;
    margin-top: 250px;
    width: 100%;
  }

  #resume-download-wrapper {
    @include absolute-horizontal-center;
    bottom: 350px;
    height: 225px;
    text-align: center;
    width: 80%;
    z-index: 4;

    a {
      margin: 0 auto;
    }

    h3 {
      font-weight: $weight-regular;
      font-size: 20px;
      letter-spacing: 1px;
      margin: 40px auto;
    }
  }

  #resume-element {
    @include absolute-horizontal-center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.22),
    0 0 1px rgba(0,0,0,0.12),
    inset 0 -1px 2px rgba(14,60,86,0.1);
    max-width: 590px;
    top: 100px;
    width: 95%;
    z-index: 2;
  }

  .resume-gradient {
    background: $border-color;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .resume-yoyo-body {
    background: url('http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_30,w_400/v1433742408/yoyo-body_oi1lac.png');
    background-size: cover;
    border-radius: 50%;
    bottom: 5%;
    @include box-shadow;
    left: 0;
    position: absolute;
    top: 5%;
    right: 38%;
    z-index: 200;

    &:hover {
      @include rotation-right-fast
    }
  }

  .resume-yoyo-string {
    background: url('http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_29,w_400/v1433742408/yoyo-string_vij27n.png');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    top: 6%;
    left: 27%;
    right: 0;
    bottom: 8%;
    z-index: 100;
  }

  .resume-yoyo-container {
    padding-left: 116.5%;
    padding-bottom: 80%;
    position: relative;
    margin: 40px auto 0;
    width: 80%;
  }

  .section-header-container {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin-bottom: 0;

    h2 {
      color: #000;
    }

    p {
      color: rgba(0,0,0,0.65)
    }
  }

  .section-container {
    padding: 0 15px;
  }
}

.moleskine {
  position: absolute;
  width: 300px;
  bottom: -200px;
  left: 30px;
}

#envelope-bottom {
  position: absolute;
  z-index: 1;
  margin: 500px auto 0;
  max-width: 620px;
  left: 0;
  right: 0;
}

#envelope-top {
  position: absolute;
  box-shadow: 0 2px 6px rgba(0,0,0,0.22),
  0 0 1px rgba(0,0,0,0.12),
  inset 0 -1px 2px rgba(14,60,86,0.1);
  z-index: 3;
  bottom: 10px;
  left: -10px;
  right: -10px;
  max-width: 620px;
  margin: 0 auto;
}

// Contact Me
// ----------------------------------------------
#contact {

  @include breakpoint($small-breakpoint) {
    text-align: left;
  }

  .section-container {
    @include breakpoint($small-breakpoint) {
      padding: 60px;
    }
  }

  .section-text-container {
    max-width: 100%;
  }

  // FIXME: should not be styling off of bootstrap base classes
  &.main-container {
    padding: 0;
  }
}

.contact-form-container {

  h3 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  // This creates the form animation
  // TODO: Make container expand when label is displayed
  .float-label {
    .control {
      position: relative;
      overflow: hidden;
      width: 100%;
      border-bottom: solid 1px $border-color;
      padding-top: 28px;
      padding-bottom: 5px;
    }

    label {
      font-weight: $weight-regular;
    }

    form {
      margin: 3em auto;
      font-weight: $weight-light;
      color: $text-light;
      font-size: 15px;

    }

    input, textarea {
      // TODO: DRY this out to apply to all p tags
      border: 0;
      color: $background-dark-blue;
      font-weight: $weight-light;
      font-size: $paragraph-text;
      line-height: $line-height;
      outline: 0;
      resize: none;
      width: 100%;

      & + label {
        position: absolute;
        display: block;
        top: 20px;
        left: 0;
        transition: top 0.7s ease, opacity 0.7s ease;
        opacity: 0;

        font-size: 13px;
        color: #ccc;
      }

      &:valid + label {
        opacity: 1;
        top: 10px;
      }

      &:focus + label {
        transition: $transition-time;
        color: $background-light-blue;
      }
    }
  }

  .message {
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    height: 22px;
    transition: height $short-transition;
  }

  .button {
    margin: $line-height auto 0;

    @include breakpoint($medium-breakpoint) {
      width: 225px;
      margin: 40px 0 auto 0;
    }
  }
}


.contact-links-container {
  margin-top: 30px;

  @include breakpoint($medium-breakpoint) {
    margin-top: 0
  }

  .fa-ul {
    margin-left: 0;

    @include breakpoint($medium-breakpoint) {
      margin-left: inherit;
    }
  }

  .fa-twitter,
  .fa-dribbble,
  .fa-linkedin,
  .fa-medium {
    font-size: 14px;
    text-align: center;
    left: 0;
    font-weight: $weight-light;

    @include breakpoint($medium-breakpoint) {
      left: inherit;
      text-align: left;
    }

    a {
      transition: $short-transition;
      font-size: 14px;
      font-family: $gotham;
      letter-spacing: 0.6px;
      font-weight: $weight-light;

      &:hover {
        color: $background-light-blue;
      }
    }

    &:before {
      color: $background-light-blue;

      @include breakpoint($medium-breakpoint) {
        margin-right: 10px;
      }
    }
  }

  li {
    display: inline-block;
    margin: 0;
    text-align: left;
    -webkit-font-smoothing: auto;

    @include breakpoint($medium-breakpoint) {
      margin-bottom: 20px;
      width: 100%;
    }

    a:last-child {
      margin: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $text-light;
    font-weight: $weight-light;
    display: inline-block;
    letter-spacing: 0.6px;
    font-size: 14px;

    &:before {
      color: $background-light-blue;
    }
  }
}

// Footer
// ----------------------------------------------
.footer {
  position: relative;
  background: linear-gradient(to bottom right, #182E4A,#325E74, #46a4b9);
  height: 150px;
  overflow: hidden;

  .gear-dark {
    opacity: 0.07;
  }
}

#gear-four {
  height: 600px;
  width: 600px;
  top: -300px;
  @include rotation-right;
  right: 50%;
  margin-right: -540px;
}

#gear-five {
  bottom: -500px;
  left: 50%;
  margin-left: -640px;
  height: 700px;
  @include rotation-left;
  width: 700px;
}
