$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$open-sans: "Open Sans", "Arial", san-serif;

/* Space out content a bit */
html {
  height: 100%;
  box-sizing: border-box;

  body {
    font-family: $open-sans;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }
}

#hero {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/desk.jpg");
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

  a {
    background-image: 
  }
  h1 {
    font-size: 50px/70px;
    font-weight: 600;
  }

  p {
    font-size: 17px/30px;
    font-weight: 400;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 75px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
