$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$open-sans: "Open Sans", "Arial", san-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

$line-height: 30px;
$paragraph-text: 1.1em;

$text-dark: #373737;
$text-light: #7B7B7B;
$background-dark-blue: #25292D;
$background-light-grey: #F5F5F5;

$border: 1px solid #ddd;
$padding: 10px;
$label-font-size: 13px;

// Define General Styling
html {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;

  body {
    font-family: $open-sans;
    height: 100%;
  }
}

ul,li {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
}

.button {
  display: block;
  text-decoration: none;
  font-weight: $weight-semibold;
  padding: 20px 0;
  border: solid 2px #fff;
  letter-spacing: 1.5px;
  border-radius: 8px;
  text-align: center;

  &:hover {
    text-decoration: none;
    transition: 0.25s;
  }

  &:visited {
    text-decoration: none;
  }
}


// Defines styles for all text in header containers
// ----------------------------------------------
.section-header-container {
  text-align: center;
  margin-bottom: 80px;

  >h2 {
    font-weight: $weight-bold;
    color: $text-dark;
    font-size: 50px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    position: relative;

    &:before, &:after {
      content: '';
      display: none;
      height: 1px;
      width: 100px;
      background-color: $text-dark;
      position: absolute;
      top: 35px;
    }

    &:before {
      left: 50px;
    }

    &:after {
      right: 50px;
    }

    >.underline {
      font-family: 'Permanent Marker', sans-serif;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #FFF;
        width: 100%;
        bottom: 5px;
        left: 0;
      }
    }
  }

  >p {
    font-weight: $weight-light;
    color: $text-light;
    font-size: 15px;
    letter-spacing: 3px;
  }
}

// Defines styles for all text in text containers
// ----------------------------------------------
.section-text-container {
  text-align: center;

  >h3 {
    color: $text-dark;
    font-weight: $weight-semibold;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 0 0 28px 0;

  }

  >p, >ul {
    color: $text-light;
    font-weight: $weight-light;
    font-size: $paragraph-text;
    line-height: $line-height;
    letter-spacing: 0.5px;
  }
}

.section-container {
  width: 100%;
  padding: 50px;
}

// Hero Section
// ----------------------------------------------
#hero.jumbotron {
  height: 100%;
  padding-top: 50px;

  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/desk.jpg");
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

  #logo {
    height: 50px;
  }

  h1 {
    font-size: 50px/70px;
    font-weight: $weight-bold;
    margin: 30px 0;
  }

  p {
    font-size: 20px;
    font-weight: $weight-light;

  }
}

// About Section
// ----------------------------------------------
.about-video {
  height: 400px;
  border-bottom: solid $text-light 1px;
  margin-bottom: 25px;
  box-shadow: 0 5px 7px -5px rgba(0,0,0,0.2);
}

// About Interests
// ----------------------------------------------
//TODO: Need to change hacky nature of using a jumbotron here
#about {
  background-color: $background-light-grey;
  margin: 50px 0 0 0;
  padding: 50px 15px;

  h3, li {
    color: $text-light;
  }

  ul, li {
    list-style-type: none;
  }

  li {
    margin-bottom: 5px;

    &:last-child {
      margin: 0;
    }
  }
}

// Developer
// ----------------------------------------------
//TODO:major refactoring needs to be done to DRY this all up
#developer {
  background-color: $background-dark-blue;
  padding-bottom: 0;
  margin-bottom: 0;

  h2, h3, p, a {
    color: #FFF;

    &:before, &:after {
      display: none;
    }
  }

  li>p {
    font-weight: $weight-semibold;
    letter-spacing: 1.5px;
    font-size: $paragraph-text;
  }

  a {
    &:hover {
      background-color: #FFF;
      color: $background-dark-blue;
    }
  }
}

// Designer
// ----------------------------------------------
&.designer {
  padding-bottom: 0;
  background-color: $background-light-grey;

  > h2:before, h2:after {
      display: none;
  }

  .underline:after {
    background-color: $text-dark;
  }
}

.browser-container {
  &.browser{
    bottom:0;
  }
}

// My Work
// ----------------------------------------------
#work {
  padding-bottom: 25px;

  ul {
    text-align: center;
  }

  ul>li {
    display: inline;
    font-weight: $weight-light;
    color: $text-light;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 0 30px;
  }
}


// Portfolio
// ----------------------------------------------
#portfolio {
  width: 25%;

  #isotope {
    .item {
      width: 49%;
      height: 100px;
      background-color: $background-dark-blue;
      border: 1px solid #0000FF;
      transition-duration: 0.8s;
      transition-property: transform, opacity;
    }
  }
}

// Portfolio
// ----------------------------------------------
.contact-form-container {
  // This creates the form animation
  .float-label {
    .control {
      float: left;
      position: relative;
      width: 100%;
      border-bottom: $border;
      padding-top: $padding + $label-font-size;
      padding-bottom: $padding;
    }

    form {
      width: 600px;
      margin: 2em auto;

      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-size: 22px;
    }

    input, textarea {
      display: block;
      width: 100%;
      border: 0;
      outline: 0;
      resize: none;

      & + label {
        position: absolute;
        top: 10px;
        transition: top 0.7s ease, opacity 0.7s ease;
        opacity: 0;

        font-size: $label-font-size;
        font-weight: 600;
        color: #ccc;
      }

      &:valid + label {
        opacity: 1;
        top: 3px;
      }

      &:focus + label {
        color: #2c8efe;
      }
    }
  }

  a {
    &.button {
      display: block;
      text-decoration: none;
      font-weight: $weight-semibold;
      padding: 20px 0;
      border: solid 2px #2c8efe;
      letter-spacing: 1.5px;
      border-radius: 8px;
      text-align: left;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1300px;
  }

  .section-header-container {
    h2 {
      font-size: 60px;

      &:after, &:before {
        display: block;
      }
    }

    p {
      font-size: 20px;
    }
  }

  .section-text-container {
    text-align: left;
  }

  #hero.jumbotron {
    padding: 75px;

    #logo {
      height: 75px;
    }

    h1 {
      margin-top: 100px;
    }
  }

  #developer {
    .developer-concise {
      text-align: right;
    }
  }

  .designer {
    .designer-showtell {
      text-align: right;
    }
  }
}

