// Rotate Right
// ----------------------------------------------------------------------
@keyframes rotation-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Rotate Left - Slow
// ----------------------------------------------------------------------
@keyframes rotation-left {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes jiggle-one {
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@keyframes jiggle-two {
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

@keyframes jiggle-three {
  25% {
    transform: rotate(-13deg);
  }
  75% {
    transform: rotate(-7deg);
  }
}
