// Aligns an absolute element within a relative container horizontally
@mixin absolute-horizontal-center {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

// Aligns an absolute element within a relative container
@mixin absolute-all-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin box-shadow {

}

// Uses fancy @content to allow inline breakpoints
@mixin breakpoint($device-width) {
  @media screen and (min-width: $device-width) {
    @content
  }
}

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

// Animation Mixins
@mixin rotation-right {
  animation: rotation-right 20s linear infinite;
}

@mixin rotation-right-fast {
  animation: rotation-right 0.2s linear infinite;
}

@mixin rotation-left {
  animation: rotation-left 20s linear infinite;
}

@mixin fadeInUp {
  animation: fadeInUp 2s;
  animation-fill-mode: both;
}
