#project-info.collapse.clearfix
  .container
    .col-sm-5
      img(src='images/browser_example.svg')
    .col-sm-5.pull-right
      .section-text-container
        h3 OFFICE AND AREA GUIDE
        span MassChallenge
        p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
        span Tools Used:
        p InDesign, Illustrator
        .color-palette
