title Alec Ortega | Front End Developer
meta(name='keywords' content='front end engineer, front end developer, user interface, web design')
meta(name='description' content='The personal website of Alec Ortega, a design-minded front end developer with a passion for building engaging, pixel-perfect experiences.')
meta(property='og:title' content='Alec Ortega | Front End Developer')
meta(property='og:type' content='website')
meta(property='og:url' content='http://alecortega.com')
meta(property='og:image' content='images/meta-image.jpg')
meta(property='og:site_name' content='Alec Ortega | Front End Developer')
meta(property='og:description' content='The personal website of Alec Ortega, a design-minded front end developer with a passion for building engaging, pixel-perfect experiences.')
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='http://alecortega.com')
meta(property='twitter:image' content='images/meta-image.jpg')
meta(property='twitter:site' content='@whynotdostuff')
meta(property='twitter:creator' content='@whynotdostuff')
