// TODO: This is INSANELY un-DRY and ugly, looking into a better DOM manipulation front-end
   framework to handle these repetitive modules.

#portfolio.clearfix
  #masonry
    .panel-group.clearfix

      // First portfolio item
      .portfolio-item
        img(src='images/projects/project-1/project-1.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-1') DETAILS

      #project-info-1.project-info
        #x-button
        .container
          .col-sm-6
            #carousel-one.carousel.slide( data-ride = 'carousel' )
              ol.carousel-indicators
                li(data-target = '#carousel-one' data-slide-to = '0')
                li(data-target = '#carousel-one' data-slide-to = '1')
                li(data-target = '#carousel-one' data-slide-to = '2')
                li(data-target = '#carousel-one' data-slide-to = '3')

              .carousel-inner
                .item.active
                  img(src = 'images/projects/project-1/project-1-one.png')
                .item
                  img(src = 'images/projects/project-1/project-1-two.png')
                .item
                  img(src = 'images/projects/project-1/project-1-three.png')
                .item
                  img(src = 'images/projects/project-1/project-1-four.png')

          .col-sm-5.pull-right
            .section-text-container
              h3 OFFICE AND AREA GUIDE
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              span.color-palette

      .portfolio-item
        img(src='images/projects/project-2.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Allowance Dashboard
            a.project-button(data-target='#project-info-2') DETAILS
      #project-info-2.project-info
        #x-button
        .container.clearfix
          .col-sm-6
            #carousel-two.carousel.slide(data-ride = 'carousel')
              .carousel-inner(role = 'listbox')
                .item.active
                  img(src = 'images/projects/project-2/project-2-one.png')


          .col-sm-5.pull-right
            .section-text-container
              h3 ALLOWANCE DASHBOARD
              span.company-name Personal Project
              p A concept for a dashboard to manage your kid's allowance and track spending habits for the entire family. This was my first time using Sketch 3 to create a Hi-Fi and is being used as an asset on my personal website.
              span.tools-used Tools Used:
              p.tools Sketch 3, Photoshop

      .portfolio-item
        img(src='images/projects/project-3.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-3') DETAILS
      #project-info-3.project-info
        #x-button
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 3
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              span.color-palette

      .portfolio-item
        img(src='images/projects/project-4.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-4') DETAILS
      #project-info-4.project-info
        #x-button
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 4
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette

      .portfolio-item
        img(src='images/projects/project-5.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-5') DETAILS
      #project-info-5.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 1
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              span.color-palette

      .portfolio-item

        img(src='images/projects/project-6.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-6') DETAILS
      #project-info-6.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 2
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette

      .reccomendation-item
        .large-container

      .portfolio-item
        img(src='images/projects/project-7.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-7') DETAILS
      #project-info-7.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 3
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              span.color-palette

      .portfolio-item

        img(src='images/projects/project-8.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-8') DETAILS
      #project-info-8.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 4
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette

      .portfolio-item

        img(src='images/projects/project-9.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-9') DETAILS
      #project-info-9.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 4
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette

      .portfolio-item

        img(src='images/projects/project-10.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-10') DETAILS
      #project-info-10.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 4
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette

      .portfolio-item

        img(src='images/projects/project-11.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-11') DETAILS
      #project-info-11.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 4
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette

      .portfolio-item

        img(src='images/projects/project-12.png')
        .project-button-background
          .project-button-wrapper
            p.project-title Office & Area Guide
            a.project-button(data-target='#project-info-12') DETAILS
      #project-info-12.project-info
        .container.clearfix
          .col-sm-5
            img(src='images/browser_example.svg')
          .col-sm-5.pull-right
            .section-text-container
              h3 Project 4
              span.company-name MassChallenge
              p I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.
              span.tools-used Tools Used:
              p.tools InDesign, Illustrator
              .color-palette
