*, *:before, *:after {
  box-sizing: border-box;
  -webkit-appearance: none;
}

html {
  height: 100%;
}

body {
  background: $background-light-grey;
  font-family: $gotham;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;

  @include breakpoint($small-breakpoint) {
    min-width: $min-width;
  }
}

blockquote {
  border: 0;
  margin: 0;
  padding: 0;
}

img, ul, li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

p {
  color: $text-light;
}

a {
  text-decoration: none;
  position: relative;
  transition: $short-transition;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:focus {
    color: inherit;
  }
}

a, li {
  .icon {
    display: inline-block;
    font-size: 25px;

    @include breakpoint ($small-breakpoint) {
      width: 29px;
    }
  }

  span {
    margin-left: 8px;
    line-height: 25px;
    vertical-align: top;
  }
}

p, div, blockquote, input, textarea {
  font-size: $paragraph-text;
  font-weight: $weight-light;
  letter-spacing: 0.25px;
  line-height: $line-height;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 1.25em;

  @include breakpoint($small-breakpoint) {
    font-size: 45px;
  }
}

h2 {
  color: #FFF;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 1.25em;
  margin: 20px 0 10px;

  @include breakpoint($small-breakpoint) {
    font-size: 45px;
  }
}

h3 {
  color: $text-dark;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 0 10px 0;
}

h1, h2, h3, h4 {
  font-weight: $weight-regular;
}

form {
  input, textarea {
    border: 0;
    color: $background-dark-blue;
    outline: 0;
    resize: none;
    width: 100%;
    word-wrap: break-word;
    padding: 1px;
  }

  input {
    height: 29px;
  }

  label {
    font-weight: $weight-regular;
  }

  textarea {
    // Auto resize override
    overflow: auto !important;
  }
}

// REFACTOR OUT BELOW THIS

.icon {
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
}

.gear-dark {
  background: url('http://res.cloudinary.com/alecoortega/image/upload/v1433742629/gear_icon_dark_jkq40y.svg');
  position: absolute;
}

.column {
  @include breakpoint($small-breakpoint) {
    margin-top: 75px;
  }
}

.center-column {
  padding: 0;
}

// Browser Animation
// ----------------------------------------------

#browser-developer-trigger, #browser-designer-trigger, .resume-trigger {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

// TODO: Find more scalable solution than just breakpoints
#browser-developer-trigger {
  height: 1100px;

  @include breakpoint($small-breakpoint) {
    height: 1050px;
  }
  @include breakpoint($large-breakpoint) {
    height: 1000px;
  }
}

#browser-designer-trigger {
  height: 1100px;

  @include breakpoint($small-breakpoint) {
    height: 1100px;
  }
  @include breakpoint($large-breakpoint) {
    height: 1050px;
  }
}

.resume-trigger {
  height: 700px;
  margin: 0 auto 10px;

  @include breakpoint($xsmall-breakpoint) {
    height: 1050px;
  }
  @include breakpoint($small-breakpoint) {
    height: 1150px;
  }
  @include breakpoint($medium-breakpoint) {
    height: 1450px;
  }
}

#browser-developer-element, #browser-designer-element, #resume-element {
  @include box-shadow;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 95%;
  z-index: 2;
}

#browser-developer-element, #browser-designer-element {
  border-radius: 7px;
}

#browser-designer-element, #resume-element {
  transform: translateY(-100%);
}

// Designer, Developer Shared
// ----------------------------------------------
.developer, .designer {
  padding: 60px 0;

  @include breakpoint($small-breakpoint) {
    padding: 60px 0 0;
  }

  // TODO: Replace this side padding with a max-width to .section-contianer and margin: 0 auto?
  @include breakpoint($large-breakpoint) {
    padding: 60px 50px 0;
  }

  .button {
    margin: 50px auto;

    @include breakpoint($small-breakpoint) {
      margin: 90px auto;
    }
  }
}

/*
ScrollMagic overrides, this is ugly but ScrollMagic automatically places a div with a display:rel attr.
Div must be absolute in order for clip to work, this ensures that the resume-element will mimic
overflow: hidden even though it's a fixed object
*/

.scrollmagic-pin-spacer {
  clip: rect(auto, 1000px, auto, -1000px);
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
}


