section#about.about
  .about-photo-container
    .about-photo.one
    .about-photo.two
    .about-photo.three
    .about-photo.four
  .about-text
    h3 It's great to meet you
    p
      |I'm currently majoring in computer science and developing for social impact as a front-end engineer at&nbsp;
      a(href='http://www.wespire.com/' target='blank') WeSpire.
      |&nbsp;I previously worked at the world's largest startup competition and accelerator,&nbsp;
      a(href='http://masschallenge.org/' target='blank') MassChallenge
      |, leading design initiatives and aiding with technical operations. <br><br> Two years ago I became homeless and taught myself to code both as a medium to express my passion for building experiences, and as an opportunity to make life what I wanted it to be. Now I help lead mentorship at&nbsp;
      a(href='http://www.resilientcoders.org/' target='blank') Resilient Coders
      |, an organization that teaches young people from traditionally under-served communities how to code as an opportunity to do the same. <br><br> My belief is that passion inspires passion, I'm always looking for opportunities and where I can learn from those that are just as motivated to share their knowledge as I am to learn.
