#designer.designer
  .section-header-container
    h2 User Interface Engineer
    p I'm a design-minded engineer passionate about implementing the experience of a design in its best possible form.
  .section-container.row
    .col-sm-3.column.collapse-left
      h3 Measure. Learn. Build.
      p Understanding how a user interacts with a product through analytics tools and making data-driven decisions is essential. Narrowing down areas with the most opportunity means developing features that really pack a punch.
      a.button.designer-button-behance(href='http://codepen.io/alecortega/' target='blank')
        i.fa.fa-codepen.fa-lg
        | &nbsp; VIEW CODEPEN
      h3 All Things Considered
      p There's more that goes into an interface than just making it look nice. Things like client constraints and use cases need to be taken into consideration. A product that's tailor-made is always more effective than any wordpress template.
    .center-column.col-sm-6.hidden-xs
      #browser-designer-trigger
        img.browser#browser-designer-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_80,w_1100/v1438045377/BrowserHiFi_bocbwq.jpg' alt='High Fidelity Browser Mockup')

    .col-sm-3.column.collapse-right
      h3.spacer-medium-down Software
      ul
        li
          span.icon.devicon-photoshop-plain
          span Photoshop
        li
          span.icon.devicon-illustrator-plain
          span Illustrator
        li
          span.icon.fa.fa-diamond
          span Sketch 3
        li
          span.icon.fa.fa-bars
          span Framer.js
        li
          span.icon.fa.fa-line-chart
          span Mixpanel
        li
          span.icon.fa.fa-google
          span Google Analytics

      h3.spacer Develop for Empathy
      p The technology used to produce a product is easily forgotten, but the feeling you invoke in a user is what lasts. A performant, empathetic experience is far more powerful than any animation library or templating engine.
