#developer.developer
  .developer-background-container
    .gear-one.gear-dark
    .gear-two.gear-dark
    .gear-three.gear-dark
    #gear-six.gear-dark.hidden-xs
    .developer-overlay
  .section-header-container
    h2 Front-End Developer
    p I'm a front-end developer with experience in styling + markup languages, and JavaScript frameworks.
  .section-container.row
    .col-sm-3.collapse-left
      h3 Frameworks & Tools
      ul
        li
          span.icon.devicon-nodejs-plain
          span Node.js, Express
        li
          span.icon.devicon-bootstrap-plain
          span Bootstrap, Foundation
        li
          span.icon.devicon-jquery-plain
          span jQuery
        li
          span.icon.devicon-gulp-plain
          span Gulp, Grunt, Webpack
        li
          span.icon.devicon-react-original
          span React
        li
          span.icon.devicon-rails-plain
          span Ruby on Rails
        li
          span.icon.devicon-git-plain
          span Git, GitHub
      h3.spacer Clean, Concise
      p I’m a major proponent of code readability and organization. It's about building something efficiently, not hastily. Readable, modular code leads to easier maintainability and fewer bugs. Which in the end, is just as important as meeting a deadline.

    .center-column.col-sm-6.hidden-xs
      #browser-developer-trigger
        img.browser#browser-developer-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_90,w_1150/v1438045670/BrowserLoFi_kiltfe.jpg' alt='Low Fidelity Browser Mockup')

    .col-sm-3.collapse-right
      h3.spacer-medium-down Knowledge is Power
      p New and awesome techology are continually being introduced. Learning a new framework or library isn't just about staying on the cutting edge, it's about the new experience that you're able to build with it.
      a.button.developer-button-github(href='https://github.com/alecortega' target='_blank')
        span.icon.fa.fa-github.fa-lg
        | &nbsp;VIEW GITHUB
      h3 Languages
      ul
        li
          span.icon.devicon-html5-plain
          span HTML5, Haml, Jade
        li
          span.icon.devicon-css3-plain
          span CSS3, Sass, Scss
        li
          span.icon.devicon-javascript-plain
          span JavaScript, CoffeeScript
        li
          span.icon.devicon-ruby-plain
          span Ruby
        li
          span.icon.devicon-python-plain
          span Python
