section#hero.hero
  header.hero-container
    h1
      |Developing for empathy,
      br
      |Engineering for ease.
    p I'm a design-minded front-end developer with a passion for building engaging, pixel-perfect experiences.
    a.button.js-get-started(href='#about' title='About section') GET TO KNOW ME
  //- Hero Navigation
  nav.navbar-hero.hidden-xs
    .navbar-container
      a.navbar-name
        .logo-container
          .gear-navigation-large.light
          .gear-navigation-small.light
        |ALEC ORTEGA
      ul.navbar-links
        li
          a.about-link(href='#about') ABOUT
        li
          a.resume-link(href='#resume') RESUME
        li
          a.contact-link(href='#contact') CONTACT
  a.hero-arrow(href='#about' title='About section')
