#portfolio.portfolio.clearfix
  a.portfolio-item.one(target='_blank' href='https://pgreen.wespire.com/' title='Opens WeSpire homepage in new window')
    p WeSpire Homepage
      br
      span The platform's main landing and login page
    .portfolio-overlay
  a.portfolio-item.two(target='_blank' href='http://patchpanel.alecortega.com/' title='Opens Patch Panel homepage in new window')
    p Patch Panel
      br
      span Makes responsive grid + panel layouts possible
    .portfolio-overlay
  a.portfolio-item.three(target='_blank' href='https://twitterbattle-alecortega.herokuapp.com/' title='Opens Twitter Battle homepage in new window')
    p Twitter Battle
      br
      span Watch search terms compete in real-time
    .portfolio-overlay
