#portfolio.portfolio.clearfix
  a.portfolio-item.one(target='blank' href='https://pgreen.wespire.com/')
    p WeSpire Homepage
      br
      span The platform's main landing and login page
    .portfolio-overlay
  a.portfolio-item.two(target='blank' href='http://patchpanel.alecortega.com/')
    p Patch Panel
      br
      span Makes responsive grid + panel layouts possible
    .portfolio-overlay
  a.portfolio-item.three(target='blank' href='https://twitterbattle-alecortega.herokuapp.com/')
    p Twitter Battle
      br
      span Watch search terms compete in real-time
    .portfolio-overlay
