#resume.resume
  .section-header-container
    h2 Track Record
    p I help lead front-end development at companies, and mentor urban-youth from under-served communities in my spare time.
  .resume-column.left
    .recommendation-trigger.left.hidden-xs
      .recommendation.left
        img(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_60,w_200/v1441601822/AAEAAQAAAAAAAAZFAAAAJGIxOWNiYTliLWRlNTctNDQxZS05YzA1LTFkZmFiZDFlYzQ1MA_d0llj5.jpg' alt='Michelle C.' width="70" height="70")
        h3 Michelle C.
        h4.title Interaction Designer
        h4 Google
        .quote
          |"Alec is one of the most driven front-end developers I've ever worked with. He spends time outside of work honing his craft, teaching himself new skills and going above and beyond in his projects. He understands interfaces from a design perspective and cares about pixel perfection. In addition to all of this, Alec is an amazing personality to have on a team - witty, hardworking and thoughtful."
          a.readmore(href='https://www.linkedin.com/in/alecortega') &nbsp;More
    img.resume-eraser.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/v1438044391/eraser_ce4hhz.svg' alt='eraser')
    img.resume-paperclip-one.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/v1438044461/paperclip_m4khzg.svg' alt='paperclip')
    img.resume-paperclip-two.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/v1438044461/paperclip_m4khzg.svg' alt='paperclip')
    .resume-card-container.hidden-xs
      .resume-card.hidden-xs
        img.resume-card-front(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,h_600/v1438044017/card-front_zay3o6.jpg' alt='Front of business card')
        img.resume-card-back(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,h_600/v1447641289/card-back_q3r63e.png' alt='Back of business card')
  .resume-column.right
    img.moleskine.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/q_40/v1438041460/moleskin_u0d0bv.png' alt='Moleskine notebook')
    .recommendation-trigger.right.hidden-xs
      .recommendation.right
        img(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_60,w_200/v1438044568/john_dr4q6h.jpg' alt='John C.' width="70" height="70")
        h3 John C.
        h4.title Director of Operations
        h4 WeSpire
        .quote
          |"Alec is a very talented double threat. His impeccable design skills, affinity for writing code and drive for quality make him an extremely valuable asset for any team. What I enjoyed most about working with Alec was how committed to the team he is. There was never a task that he wouldn't roll up his sleeves and get done. I would recommend Alec without question, knowing any team he joins will be lucky to have him."
          a.readmore(href='https://www.linkedin.com/in/alecortega') &nbsp;More
  .section-container.row
    .center-column.col-sm-6.col-sm-offset-3
      .resume-trigger
        img#resume-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,w_1100/v1447997383/resume_gjtj69.png' alt='Resume')
      .resume-download-wrapper
        h3 Need a copy?
        a.button.resume-button-linkedin(target="blank", href='/resume')
          span.icon.fa.fa-download
          | &nbsp; DOWNLOAD
      .envelope-wrapper
        img.envelope-top(src='http://res.cloudinary.com/alecoortega/image/upload/v1439316659/envelope-top_f51wlf.svg' alt='Bottom of Envelope')
        img#envelope-bottom.envelope-bottom(src='http://res.cloudinary.com/alecoortega/image/upload/v1439316491/envelope-bottom_k0hwrb.svg' alt='Top of Envelope')
