extends layout

block content
  #hero.jumbotron
    // Refactor navigation to partial to DRY
    #hero-arrow.animated.fadeInUp
    #hero-nav-wrapper.navbar
      .container
        .navbar-header
          a.navbar-brand.navbar-left ALEC ORTEGA
        ul.nav.navbar-nav.navbar-right
          li
            a.about-link(href='#about') ABOUT
          li
            a.work-link(href='#portfolio') PORTFOLIO
          li
            a.contact-link(href='#contact') CONTACT
    .hero-container
      h1.animated.fadeInUp HEY THERE

  .nav-trigger.clearfix
    #nav-element.navbar
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#full-navigation")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.navbar-left(href='#hero') ALEC ORTEGA

        #full-navigation.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.about-link(href='#about') ABOUT
            li
              a.work-link(href='#portfolio') PORTFOLIO
            li
              a.contact-link(href='#contact') CONTACT

  #about
    .container
      .about-video.col-md-5
      .section-text-container.col-md-5.pull-right
        h3 IT'S GREAT TO MEET YOU,
        p I'm currently a student in Boston studying Computer Science. I believe that like music, good design is found between the notes. Design should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.<br><br>I believe that engagement stems from a user's ability to empathize with a product. It’s never just a product that’s being developed, it’s what it envokes in a user as well. It's with this perspective that I approach both my personal and professional projects.
    .section-header-container
      h2 I'M A: DEVELOPER
      .section-header-container-background

  #developer
    #gear-one.gear.rotation-right
    #gear-two.gear.rotation-left
    #gear-three.gear.rotation-left
    .section-container.clearfix
      .large-container
        .col-md-3.developer-column
          .developer-concise.section-text-container
            h3 FRAMEWORKS & TOOLS
            p Ruby on Rails
            p Node.js, Express
            p Bootstrap, Foundation
            p Grunt, Bower, Yeoman
            p Git, GitHub
            p GSAP, Fabric.js, Paper.js
            h3.spacer CLEAN, CONCISE
            p I’m a major proponent of code readability and organization. It’s not just about the if it works or not. Readable, modular code leads to easier maintainability and fewer bugs. Which in the end, is just as important as meeting a deadline.

        .col-md-6.browser-column
          #browser-developer-trigger
            .browser-developer-container
              img.browser#browser-developer-element(src="images/BrowserLoFi.png")

        .col-md-3.developer-column
          .developer-laguages.section-text-container
            h3 KNOWLEDGE IS POWER
            p Technologies are constantly changing, new and awesome technologies are always being introduced. Learning a new framework, library, or language feels like gaining a super power and after all, every kid grows up wanting to be a superhero.
            a.button(href='https://github.com/alecortega' target='_blank')
              i.fa.fa-github.fa-lg #{'  '}VIEW GITHUB
            h3.spacer LANGUAGES
            p HTML5, Haml, Jade
            p CSS3, SASS, SCSS
            p JavaScript, jQuery
            p Ruby
            p Java

  #designer
    .section-header-container.designer-title
      h2 I'M A: DESIGNER
      .section-header-container-background
    .section-container.clearfix
      .large-container
        .col-md-3.designer-column
          .designer-showtell.section-text-container
            h3 DON'T JUST TELL, SHOW
            p There's a difference between neatly displaying information and telling a story. Design elements should come together to create an experience that not only gets the message across but also captures the essence of the product.
            a.button(href='https://www.behance.net/alecortega' target='blank')
              i.fa.fa-behance.fa-lg #{'  '}VIEW BEHANCE

        .col-md-6.browser-column
          #browser-designer-trigger
            .browser-designer-container
              img.browser#browser-designer-element(src="images/BrowserHiFi.png")

        .col-md-3.designer-column
          .designer-empathy.section-text-container
            h3 SOFTWARE
            p Adobe Photoshop
            p Adobe Illustrator
            p Adobe Edge Animate
            p Balsamiq
            p Sketch 3

            h3.spacer ORGANIC INTERACTIONS
            p If a user hesitates for too long in order to locate a certain control, the design has already failed. Interfaces should feel familiar and intuitive; animations should be used sparingly and only to enhance context.

  include sections/portfolio

  #contact.container
    .section-container.clearfix
      .contact-form-container.section-text-container.col-sm-7
        h3 Get in touch
        p Whether it be personal or professional I'd love to hear from you. Shoot me an email and I'll get back to you as soon as soon as I can. 
        form.float-label(role='form', method='POST')
          .control.clearfix
            input(type="text" spellcheck="false" name="fullname", id='fullname', placeholder='Full Name', required)
            label.clearfix(for="fullname") Full Name
          .control
            input(type="text" spellcheck="false" name="email", placeholder="Your Email", required)
            label(for="email") Your Email
          .control
            textarea.message(type='text', name="message", placeholder='Your Message', rows='1',
            required)
          button.button(type="submit") SEND MESSAGE

      .contact-links-container
        .section-text-container
          h3 FIND ME ELSEWHERE
          ul.fa-ul
            li.fa-li.fa.fa-twitter
              a.twitter(target= "_blank" href="https://twitter.com/WhyNotDoStuff") Twitter
            li.fa-li.fa.fa-dribbble
              a.dribbble(target= "_blank" href="https://dribbble.com/alecortega") Dribbble
            li.fa-li.fa.fa-linkedin
              a.linkedin(target= "_blank" href="https://linkedin.com/in/alecortega/") LinkedIn
            li.fa-li.fa.fa-medium
              a.medium(target= "_blank" href="https://medium.com/@whynotdostuff") Medium

  .footer
    #gear-four.gear.rotation-right
    #gear-five.gear.rotation-left
    .section-container.clearfix
      p Website handcrafted with <3
      p Check it out on GitHub
