doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width', initial-scale=1, maximum-scale=1,
    user-scalable=0)
    meta(name="description", content="My name is Alec Ortega, I'm a Front-End Developer and User " +
    "Interface Designer, its great to finally meet you.")
    title Alec Ortega | Front-End Developer
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat: 400,700' rel='stylesheet' type='text/css')
    != css('style')
    script(src='./javascripts/bower_components/jquery/dist/jquery.min.js')
    script(src='./javascripts/pre-loader.js')


  body
    block content

    != js('application')

