.button  {
  background: linear-gradient(#6dcb2f, #54ae1c);
  border: solid 1px transparent;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  color: #FFF !important;
  display: block;
  font-weight: $weight-regular;
  letter-spacing: 1.5px;
  max-width: 300px;
  outline: 0;
  padding: 18px 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: none;

  &:hover {
    color: #000;
  }

  &:active {
    background: linear-gradient(#62bc2c, #56a91c);
    box-shadow: inset 0 1px 0 rgba(212,220,227,.7),inset 0 0 1px #d4dce3,0 1px 0 #fff;
    color: #000
  }

  &:visited {
    color: #000
  }
}
