.button {
  background-image: linear-gradient(#69C339 0,#3EBD4D 100%);
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.21);
  color: #FFF;
  display: block;
  font-weight: $weight-regular;
  letter-spacing: 1.5px;
  max-width: 300px;
  outline: 0;
  padding: 18px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 100;

  &:before {
    background-image: linear-gradient(#60BE3C 0, #3CB34B 100%);
    border-radius: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: $short-transition;
    width: 100%;
    z-index: -100;
  }

  &:hover {
    color: #FFF;

    &:before {
      opacity: 1;
    }
  }

  &:active {
    background: linear-gradient(#60BE3C 0, #3CB34B 100%);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(255, 255, 255, 0.2);
    color: #FFF;
  }

  &:visited {
    color: #FFF;
  }
}
