.button  {
  background: $background-light-blue;
  border: solid 1px #62a2c3;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  color: #FFF;
  display: block;
  font-weight: $weight-regular;
  letter-spacing: 2px;
  max-width: 300px;
  outline: 0;
  padding: 20px 0;
  text-align: center;
  transition: $short-transition;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  width: 100%;

  &:hover {
    background: #649EBE;
    border-color: transparent;
    color: #FFF;
  }

  &:active {
    background: #5A94B4;
    border-color: transparent;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
  }

  &:visited {
    color: #FFF
  }
}
