// Defines style for all section headers
// ----------------------------------------------------------------------
.section-header-container {
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255,255,255,0.075);
  font-weight: $weight-light;
  max-width: 1050px;
  width: 90%;
  z-index: 1000;

  @include breakpoint($small-breakpoint) {
    margin: 0 auto 50px auto;
  }

  h2 {
    color: #FFF;
    font-size: 30px;

    letter-spacing: 1.5px;
    margin: 20px 0 10px;

    @include breakpoint($small-breakpoint) {
      font-size: 45px;
    }
  }

  p {
    font-size: 18px;
    margin: 0 auto 30px;
    max-width: 600px;
    letter-spacing: 0.5px;
  }
}

// Defines style for every container that contains text
// ----------------------------------------------------------------------
.section-text-container {
  margin: 0 auto;
  max-width: 450px;
  text-align: left;

  @include breakpoint($medium-breakpoint) {
    max-width: 100%;
  }

  h3 {
    color: $text-dark;
    font-weight: $weight-regular;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0 0 10px 0;
  }

  p, li {
    color: $text-light;
    font-weight: $weight-light;
    font-size: $paragraph-text;
    line-height: $line-height;
    letter-spacing: 0.25px;
  }

  li {
    margin-bottom: 10px;

    p, i {
      display: inline-block;
    }

    p {
      line-height: 25px;
      margin: 0;
      vertical-align: text-bottom;
    }

    i {
      color: #FFF;
      font-size: 25px;
      margin-right: 8px;
    }
  }
}

// Defines style for every section container
// ----------------------------------------------------------------------
.section-container {
  overflow: hidden;
  padding: 50px 15px;
  position: relative;
  width: 100%;
  z-index: 100;

  @include breakpoint($small-breakpoint) {
    padding: 0 15px;
  }

  @include breakpoint($medium-breakpoint) {
    padding: 0 15px;
  }

  .button {
    @include breakpoint($small-breakpoint) {
      margin: 80px auto;
    }
  }

  .spacer {
    margin-top: 50px;

    @include breakpoint($small-breakpoint) {
      margin-top: 80px;
    }
  }

  .spacer-medium-down {
    margin-top: 50px;

    @include breakpoint($small-breakpoint) {
      margin-top: 0;
    }
  }
}

// TODO: Refactor these classes out if possible
.main-container {
  max-width: 1100px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.large-container {
  max-width: 1300px;
  margin: 0 auto;
}

.recommendation {
  position: absolute;
  width: 27%;
  background: #FFF;
  border: solid 1px #E9EAEC;
  padding: 15px;

  &.left {
    border-radius: 0 5px 5px 0;
    left: 0;
    top: 25%;
  }

  &.right {
    border-radius: 5px 0 0 5px;
    right: 0;
    top: 65%;
  }

  img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid 1px #E9EAEC;
    float: left;
    margin: 0 15px 15px 0;
  }

  h3 {
    color: #000;
    margin: 0 0 7px 0;
  }

  h4 {
    color: rgba(0,0,0,0.65);
    font-size: 15px;
    margin: 5px 0;
  }

  p {
    clear: both;
    color: $text-light;
    font-weight: $weight-light;
    font-size: $paragraph-text;
    line-height: $line-height;
    letter-spacing: 0.25px;
  }

  .title {
    color: $background-dark-blue;
  }
}
