// Defines style for all section headers
// ----------------------------------------------------------------------
.section-header-container {
  bottom: -125px;
  left: 0;
  overflow: hidden;
  position: absolute;
  @include size(100%, 125px);
  z-index: 900;

  @include breakpoint($small-breakpoint) {
    bottom: -150px;
    height: 150px;
  }

  h2 {
    @include absolute-horizontal-center;
    color: #FFF;
    font-size: 40px;
    font-weight: $primary-title-weight;
    line-height: 125px;
    letter-spacing: 4px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px #4292B5;
    -webkit-font-smoothing: antialiased;
    z-index: 100;

    @include breakpoint($small-breakpoint) {
      font-size: 60px;
      line-height: 150px;
    }
  }

  .section-header-container-background {
    background-color: $background-light-blue;
    position: absolute;
    @include size(100%, 100%);

    @include breakpoint($small-breakpoint) {
      width: 90%;
    }

    @include breakpoint($large-breakpoint) {
      width: 80%;
    }
  }
}

// Defines style for every container that contains text
// ----------------------------------------------------------------------
.section-text-container {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;

  @include breakpoint($medium-breakpoint) {
    text-align: left;
    max-width: 100%;
  }

  h3 {
    color: $text-dark;
    font-weight: $weight-regular;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 0 0 15px 0;
    -webkit-font-smoothing: antialiased;
  }

  p, ul {
    color: $text-light;
    font-weight: $weight-light;
    font-size: $paragraph-text;
    line-height: $line-height;
    letter-spacing: 0.6px;

    &::selection {
      background: $border-color;
    }
  }
}

// Defines style for every section container
// ----------------------------------------------------------------------
.section-container {
  overflow: hidden;
  padding: 50px 15px;
  position: relative;
  width: 100%;
  z-index: 100;

  @include breakpoint($small-breakpoint) {
    padding: 0 15px;
  }

  @include breakpoint($medium-breakpoint) {
    padding: 0 15px;
  }

  .button {
    @include breakpoint($small-breakpoint) {
      margin: 80px auto;
    }
  }

  .spacer {
    margin-top: 50px;

    @include breakpoint($small-breakpoint) {
      margin-top: 80px;
    }
  }

  .spacer-medium-down {
    margin-top: 50px;

    @include breakpoint($medium-breakpoint) {
      margin-top: 0;
    }
  }
}

// TODO: Refactor these classes out if possible
.container {
  max-width: 1200px;
}

.large-container {
  max-width: 1300px;
  margin: 0 auto;
}
