.nav-trigger {
  left: 0;
  position: fixed;
  right: 0;
  top: -100px;
  transition: 0.4s;
  z-index: 1000;
}

// Needed for transition after scrolling past "About"
.nav-trigger-in {
  top: 0;
}

// Main Navigation
nav {
  margin: 0;
  padding: 10px 0;
  top: 0;
  left: 0;
  right: 0;

  @include breakpoint($small-breakpoint) {
    min-width: $min-width;
  }

  &.navbar-main {
    border-bottom: 1px solid $border-color;
    background-color: #FFF;
    transition: $short-transition;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);

    .navbar-name {
      color: $background-dark-blue;
    }

    a {
      color: $text-light;

      &:hover {
        color: $background-dark-blue;
      }
    }
  }

  &.navbar-hero {
    a {
      color: #FFF;

      &:hover {
        color: #B1C6CC;
      }
    }
  }
}



.navigation-links {
  float: right;
  height: 100%;
  width: 100%;
  height: 50px;

  .navbar-main & {
    display: none;
    background-color: #FFF;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 30vh 0;
    z-index: -1;

    li {
      display: block;
      text-align: center;
    }

    a {
      font-size: 20px;
    }
  }


  li {
    display: inline-block;
    padding: 15px;
  }

  a {
    font-size: 13px;
    font-weight: $weight-regular;
    letter-spacing: 1.5px;

    &:after {
      background-color: $background-dark-blue;
      bottom: 0;
      content: '';
      height: 1px;
      left: -5px;
      opacity: 0;
      position: absolute;
      right: -5px;
      transition: $short-transition;
    }
  }

  .highlight {
    color: $background-dark-blue;

    &:after {
      bottom: -10px;
      opacity: 1;
    }
  }
}

.navbar-container {
  margin: 0 auto;
  width: 100%;

  @include breakpoint($small-breakpoint) {
    width: 90%;
  }
}

.navbar-hamburger {
  float: right;
  height: 16px;
  width: 22px;
  margin: 17px 15px;

  .line {
    height: 2px;
    width: 22px;
    background-color: $text-light;
    transition: $short-transition;
    border-radius: 1px;
    display: block;
    margin: 0;
    position: absolute;

    &.line-1 {
      top: 0;
      transform-origin: top left;
    }

    &.line-2 {
      top: 50%;
      margin-top: -1px;
    }

    &.line-3 {
      bottom: 0;
      transform-origin: bottom left;
    }
  }

  &.active {
    .line-1 {
      transform: translateY(-0.5px) translateX(0) rotate(45deg);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY(0.5px) translateX(0) rotate(-45deg);
    }
  }
}

.navbar-name {
  font-size: 20px;
  font-weight: $weight-important;
  float: left;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  margin-left: 15px;
  padding-left: 50px;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($small-breakpoint) {
    margin-left: 0;
  }
}

.navbar-hero {
  position: absolute;
  top: 30px;

  // TODO: Again this is a repeat
  .navbar-brand {
    color: #FFF;
  }
}
