.navbar {
  transition: $short-transition;
  border-bottom: 1px solid $border-color;
  padding: 10px 0;
  border-radius: 0;
  top: 0;
  margin: 0;

  li a {
    color: #FFF;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: $weight-regular;

    &:hover {
      background: inherit;
    }

    &:active, &:focus {
      background-color: inherit;
    }
  }

  .icon-bar {
    background: $text-light;
  }
}

.navbar-container {
  margin: 0 auto;
  width: 100%;

  @include breakpoint($small-breakpoint) {
    width: 90%;
  }
}

.navbar-brand {
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  font-weight: $primary-title-weight;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 50px;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($small-breakpoint) {
    margin-left: 0;
  }
}
