.contact {
  background: #FFF;
  padding: 60px 0;

  @include breakpoint($large-breakpoint) {
    padding: 60px 70px;
  }

  .contact-form-container {
    h3 {
      font-size: 30px;
      letter-spacing: 2px;
    }

    .button {
      margin: 40px auto 0;

      @include breakpoint($small-breakpoint) {
        margin: 40px 0 auto 0;
        width: 250px;
      }
    }

    form {
      .control {
        border-bottom: solid 1px $border-color;
        padding-bottom: 5px;
        padding-top: 28px;
        position: relative;
        transition: 0.25s;

        &.error {
          border-bottom: solid 1px #FFaaaa;
        }
      }

      label {
        color: #CCC;
        font-size: 13px;
        left: 0px;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 20px;
        transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
        z-index: 100;

        &.show {
          opacity: 1;
          top: 6px;
        }

        &.on {
          color: $background-light-blue;
          transition: $short-transition;
        }
      }

      input {
        background: transparent;
        position: relative;
        z-index: 200;
      }
    }
  }

  .contact-links-container {
    margin-top: 40px;
    text-align: center;

    @include breakpoint($small-breakpoint) {
      margin-top: 0;
      text-align: left;
    }

    .icon {
      color: $background-light-blue;
      font-size: 32px;

      @include breakpoint($small-breakpoint) {
        font-size: 25px;
      }
    }

    ul {
      display: flex;

      @include breakpoint($small-breakpoint) {
        display: block;
      }
    }

    li {
      display: inline-block;
      margin: 0 auto;

      @include breakpoint($small-breakpoint) {
        margin: 0 0 18px 0;
        width: 100%;
      }
    }

    span {
      color: $text-light;
      transition: $short-transition;

      &:hover {
        color: $background-light-blue;
      }
    }
  }
}
