.resume {
  background: $background-light-grey;
  border-top: 1px solid $border-color;
  margin: 0 auto;
  max-width: 1800px;
  overflow: hidden;
  padding: 60px 0 45px;
  position: relative;
  z-index: 600;

  @include breakpoint($small-breakpoint) {
    padding: 60px 50px;
  }

  .resume-trigger, .envelope-wrapper {
    max-width: 500px;

    @include breakpoint($medium-breakpoint) {
      max-width: 100%;
    }
  }

  .envelope-wrapper {
    margin: 0 auto;
    position: relative;
  }

  .resume-card-container {
    height: 350px;
    margin: 50px auto 0;
    perspective: 1250px;
    position: relative;
    width: 206px;
  }

  .resume-card {
    @include box-shadow;
    @include size(100%, 100%);
    bottom: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.22), 0 0 1px rgba(0,0,0,0.12), inset 0 -1px 2px rgba(14,60,86,0.1);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: transform 0.75s;

    &:hover {
      transform: rotateY(180deg);
    }

    & img {
      backface-visibility: hidden;
      bottom: 0;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 0.75s;
    }

    & .resume-card-back {
      transform: rotateY( 180deg );
    }
  }

  .resume-download-wrapper {
    @include absolute-horizontal-center;
    background-color: #FFF;
    border-radius: 5px;
    border: solid 1px $border-color;
    bottom: 13%;
    color: #000;
    height: 200px;
    max-width: 280px;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 4;

    @include breakpoint ($xsmall-breakpoint) {
      bottom: 18%;
      max-width: 325px;
    }

    @include breakpoint($small-breakpoint) {
      bottom: 16%;
    }

    a {
      margin: 0 auto;
    }

    h3 {
      margin: 20px auto 30px;
    }
  }

  .section-header-container {
    border-bottom: 1px solid $border-color;

    h2 {
      color: #000;
    }

    p {
      color: rgba(0,0,0,0.65);
    }
  }
}

.moleskine {
  height: 43%;
  margin: 8% 0 16% 12%;
  max-width: 500px;
  transform: rotate(-10deg);
  width: auto;
}

.resume-eraser {
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.15));
  height: 7%;
  margin: 15% 0 0 -6%;
  transform: rotate(-10deg);

  &:hover {
    animation: jiggle-three 0.25s ease;
  }
}

.resume-paperclip-one {
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.15));
  height: 2.75%;
  margin: 10% 0 0 20%;
  transform: rotate(15deg);

  &:hover {
    animation: jiggle-one 0.25s ease;
  }
}

.resume-paperclip-two {
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.15));
  height: 2.75%;
  margin: 10% 0 0 -32%;
  transform: rotate(-15deg);

  &:hover {
    animation: jiggle-two 0.25s ease;
  }
}

.envelope-bottom {
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.1));
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

.envelope-top {
  bottom: 0;
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.1));
  left: -10px;
  margin: 0 auto;
  position: absolute;
  right: -10px;
  z-index: 3;
}
