extends layouts/default
block content
  .hero
    // Refactor navigation to partial to DRY
    .hero-arrow
    nav.hero-nav-wrapper.navbar.hidden-xs
      .navbar-container
        .navbar-header
          a.navbar-brand.navbar-left ALEC ORTEGA
        ul.nav.navbar-nav.navbar-right
          li
            a.about-link(href='#about') ABOUT
          li
            a.resume-link(href='#resume') RESUMÉ
          li
            a.contact-link(href='#contact') CONTACT
    .hero-container
      h1 HEY THERE

  .nav-trigger.clearfix
    nav.nav-element.navbar
      .navbar-container
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse', type='button', data-target='#full-navigation')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#hero') ALEC ORTEGA
        #full-navigation.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.about-link(href='#about') ABOUT
            li
              a.resume-link(href='#resume') RESUMÉ
            li
              a.contact-link(href='#contact') CONTACT
  #about
    .section-container
      .main-container.row
        .col-sm-5
          .about-video
        .col-sm-5.col-sm-offset-1
          .section-text-container
            h3 It's great to meet you,
            p I believe that like music, design is found between the notes. It should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. I believe that engagement stems from a user's ability to empathize with a product. It’s never just a product that’s being developed, it’s what it envokes in a user as well. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.<br><br>It's with this perspective that I approach both my personal and professional projects.

  #developer
    .developer-background-container
      #gear-one.gear-dark
      #gear-two.gear-dark
      #gear-three.gear-dark
      #gear-six.gear-dark.hidden-xs
      .developer-overlay
    .section-header-container
      h2 Front-End Developer
      p I'm a front-end developer with specialization in style and templating languages, and experience in JavaScript frameworks.
    .section-container.clearfix
      .main-container
        .col-sm-3.column
          .section-text-container
            h3 Frameworks & Tools
            ul
              li
                i.devicon-rails-plain
                p Ruby on Rails
              li
                i.devicon-nodejs-plain
                p Node.js, Express
              li
                i.devicon-bootstrap-plain
                p Bootstrap, Foundation
              li
                i.devicon-jquery-plain
                p jQuery
              li
                i.devicon-gulp-plain
                p Grunt, Bower, Yeoman
              li
                i.devicon-git-plain
                p Git, GitHub
              h3.spacer Clean, Concise
              p I’m a major proponent of code readability and organization. It’s not just about the if it works or not. Readable, modular code leads to easier maintainability and fewer bugs. Which in the end, is just as important as meeting a deadline.

        .center-column.col-sm-6.hidden-xs
          #browser-developer-trigger
            img.browser#browser-developer-element(src='/images/BrowserLoFi.svg')

        .col-sm-3.column
          .section-text-container
            h3.spacer-medium-down Knowledge is Power
            p New and awesome technologies are always being introduced. Learning a new framework, library, or language feels like gaining a super power and after all, every kid grows up wanting to be a superhero. I'm constantly learning not because I need to, but because it's fun.
            a.button.developer-button-github(href='https://github.com/alecortega' target='_blank')
              i.fa.fa-github.fa-lg
              | &nbsp;View Github
            h3 Languages
            ul
              li
                i.devicon-html5-plain
                p HTML5, Haml, Jade
              li
                i.devicon-css3-plain
                p CSS3, SASS, SCSS
              li
                i.devicon-javascript-plain
                p JavaScript, CoffeeScript
              li
                i.devicon-ruby-plain
                p Ruby
              li
                i.devicon-java-plain
                p Java
  #designer
    .section-header-container
      h2 User Interface Engineer
      p I'm a front-end developer with specialized experience in Sass and JavaScript frameworks and libraries.
    .section-container.clearfix
      .main-container
        .col-sm-3.column
          .section-text-container
            h3 Don't Just Tell, Show
            p There's a difference between neatly displaying information and telling a story. Design elements should come together to create an experience that not only gets the message across but also captures the essence of the product or brand.
            a.button.designer-button-behance(href='https://www.behance.net/alecortega' target='blank')
              i.fa.fa-behance.fa-lg
              | &nbsp; VIEW BEHANCE
            h3 All Things Considered
            p There's more that goes into design than just making it look pretty. Things like production constraints and how the product is actually going to be used need to be taken into consideration. Anyone can make something look nice, I can make it work.
        .center-column.col-sm-6.hidden-xs
          #browser-designer-trigger
            img.browser#browser-designer-element(src='/images/BrowserHiFi.svg')

        .col-sm-3.column
          .section-text-container
            h3.spacer-medium-down Software
            ul
              li
                i.devicon-photoshop-plain
                p Photoshop
              li
                i.devicon-illustrator-plain
                p Illustrator
              li
                i.devicon-trello-plain
                p Trello

            h3.spacer Design for Empathy
            p No one is going to remember how you made something as much as they are the way that you made them feel afterwards. Design should always be created with the user's perspective and the feeling that you wish to envoke in mind.


  #resume
    .section-header-container
      h2 Track Record
      p Don't take my word for it, here's some companies that I've worked for. Download my resume if you're feeling extra curious.

    #recommendation-trigger-left.hidden-xs
      .recommendation.left
        img(src='/images/john.png')
        h3 John C.
        h4.title Director of Operations
        h4 WeSpire
        p "Alec is a very talented double threat. His impeccable design skills, affinity for writing code and drive for quality make him an extremely valuable asset for any team. What I enjoyed most about working with Alec was how committed to the team he is."

    #recommendation-trigger-right.hidden-xs
      .recommendation.right
        img(src='http://placecorgi.com/200/200')
        h3 John C.
        h4.title Director of Operations
        h4 WeSpire
        p "Alec is a very talented double threat. His impeccable design skills, affinity for writing code and drive for quality make him an extremely valuable asset for any team. What I enjoyed most about working with Alec was how committed to the team he is."
    img.moleskine.hidden-xs(src='/images/moleskin.png')
    img.resume-yoyo-body.hidden-xs(src='/images/yoyo-body.png')
    img.resume-yoyo-string.hidden-xs(src='/images/yoyo-string.png')
    img.resume-pen.hidden-xs(src='/images/pen.svg')
    img.resume-pencil.hidden-xs(src='/images/pencil.svg')
    .section-container
      .main-container
        .center-column.col-sm-6.col-sm-offset-3
          .resume-download-wrapper
            .resume-download-wrapper-container
              h3 Need a Copy?
              a.button.resume-button-download(href='/resume')
                i.fa.fa-download
                | &nbsp; DOWNLOAD
            a.button.resume-button-linkedin(href='https://linkedin.com/in/alecortega/' target='blank')
              i.fa.fa-linkedin
              | &nbsp; VIEW LINKEDIN
          .resume-trigger
            img#resume-element(src='/images/resume.svg')
          img#envelope-top(src='/images/envelope-top.svg')
          img#envelope-bottom(src='/images/envelope-bottom.svg')

  #contact
    .section-container
      .main-container
        .contact-form-container.section-text-container.col-sm-7
          h3 Get in touch
          p Whether it be personal or professional I'd love to hear from you. Shoot me an email and I'll get back to you as soon as soon as I can. 

          form#contact-form.float-label(role='form', method='POST', action='/')
            .control.clearfix
              input(type="text" spellcheck="false" name="fullname", id='fullname', placeholder='Full Name', required)
              label.clearfix(for="fullname") Full Name
            .control
              input(type="text" spellcheck="false" name="email", placeholder="Your Email", required)
              label(for="email") Your Email
            .control
              textarea.message(type='text', name="message", placeholder='Your Message', rows='1',
              required)
            button.button.submit-button(type="submit")
              i.fa.fa-paper-plane
              | &nbsp; SEND MESSAGE

        .contact-links-container.col-sm-4.col-sm-offset-1
          .section-text-container
            h3 Find me elsewhere
            ul.fa-ul
              li.fa-li.fa.fa-twitter
                a.twitter.hidden-xs(target= '_blank' href='https://twitter.com/WhyNotDoStuff') Twitter
              li.fa-li.fa.fa-dribbble
                a.dribbble.hidden-xs(target= '_blank' href='https://dribbble.com/alecortega') Dribbble
              li.fa-li.fa.fa-linkedin
                a.linkedin.hidden-xs(target= '_blank' href='https://linkedin.com/in/alecortega/') LinkedIn
              li.fa-li.fa.fa-medium
                a.medium.hidden-xs(target= '_blank' href='https://medium.com/@whynotdostuff') Medium

  .footer
    #gear-four.gear-dark
    #gear-five.gear-dark
