extends layouts/default
block content
  .hero
    // Refactor navigation to partial to DRY
    .hero-arrow
    nav.hero-nav-wrapper.navbar.hidden-xs
      .container
        .navbar-header
          a.navbar-brand.navbar-left ALEC ORTEGA
        ul.nav.navbar-nav.navbar-right
          li
            a.about-link(href='#about') ABOUT
          li
            a.resume-link(href='#resume-header') RESUMÉ
          li
            a.portfolio-link(href='#portfolio') PORTFOLIO
          li
            a.contact-link(href='#contact') CONTACT
    .hero-container
      h1 HEY THERE

  .nav-trigger.clearfix
    nav.nav-element.navbar
      .container
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse', type='button', data-target='#full-navigation')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#hero') ALEC ORTEGA
        #full-navigation.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.about-link(href='#about') ABOUT
            li
              a.resume-link(href='#resume-header') RESUMÉ
            li
              a.portfolio-link(href='#portfolio') PORTFOLIO
            li
              a.contact-link(href='#contact') CONTACT
  #about
    .container
      .col-md-5
        .about-video
      .col-md-5.col-md-offset-2
        .section-text-container
          h3 It's great to meet you,
          p I believe that like music, design is found between the notes. It should convey just enough to tell the story of a brand while still leaving the rest up to the user’s imagination. I believe that engagement stems from a user's ability to empathize with a product. It’s never just a product that’s being developed, it’s what it envokes in a user as well. When I discovered development I was hooked, now I use code as another medium to craft engaging experiences.<br><br>It's with this perspective that I approach both my personal and professional projects.
    .section-header-container
      h2
        span.hidden-xs I'M A:
        | &nbsp;DEVELOPER
      .section-header-container-background

  #developer
    .developer-background-container
      .developer-gradient
      .developer-overlay
    .section-header-container
      h2
        span.hidden-xs I'M A:
        | &nbsp;DESIGNER
      .section-header-container-background
    .section-container.clearfix
      .large-container
        .col-md-3.column
          .developer-concise.section-text-container
            h3 Frameworks & Tools
            p Ruby on Rails
            p Node.js, Express
            p Bootstrap, Foundation
            p Grunt, Bower, Yeoman
            p Git, GitHub
            p GSAP, Fabric.js, Paper.js
            h3.spacer Clean, Concise
            p I’m a major proponent of code readability and organization. It’s not just about the if it works or not. Readable, modular code leads to easier maintainability and fewer bugs. Which in the end, is just as important as meeting a deadline.

        .col-md-6.hidden-xs.hidden-sm
          #browser-developer-trigger
            img.browser#browser-developer-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_40,w_1100/v1433736445/BrowserLoFi_pkqj5m.png')

        .col-md-3.column
          .developer-laguages.section-text-container
            h3.spacer-medium-down Knowledge is Power
            p New and awesome technologies are always being introduced. Learning a new framework, library, or language feels like gaining a super power and after all, every kid grows up wanting to be a superhero. I'm constantly learning not because I need to, but because it's fun.
            a.button.developer-button-github(href='https://github.com/alecortega' target='_blank')
              i.fa.fa-github.fa-lg
              | &nbsp;VIEW GITHUB
            h3 Languages
            p HTML5, Haml, Jade
            p CSS3, SASS, SCSS
            p JavaScript, jQuery
            p Ruby
            p Java
  #designer
    #gear-one.gear
    #gear-two.gear
    #gear-three.gear
    #gear-six.gear.hidden-xs
    .section-container.clearfix
      .large-container
        .col-md-3.column
          .designer-showtell.section-text-container
            h3 Don't Just Tell, Show
            p There's a difference between neatly displaying information and telling a story. Design elements should come together to create an experience that not only gets the message across but also captures the essence of the product or brand.
            a.button.designer-button-behance(href='https://www.behance.net/alecortega' target='blank')
              i.fa.fa-behance.fa-lg
              | &nbsp; VIEW BEHANCE
            h3 All Things Considered
            p There's more that goes into design than just making it look pretty. Things like production constraints and how the product is actually going to be used need to be taken into consideration. Anyone can make something look nice, I can make it work.
        .col-md-6.hidden-xs.hidden-sm
          #browser-designer-trigger
            img.browser#browser-designer-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_40,w_1100/v1433736446/BrowserHiFi_z4bkcr.png')

        .col-md-3.column
          .designer-empathy.section-text-container
            h3.spacer-medium-down Software
            p Photoshop, Illustrator, InDesign
            p Sketch 3
            p Framer.js
            p Proto.io
            p Balsamiq
            h3.spacer Design for Empathy
            p No one is going to remember how you made something as much as they are the way that you made them feel afterwards. Design should always be created with the user's perspective and the feeling that you wish to envoke in mind.


  #resume
    .resume-gradient
    .resume-overlay
    #resume-header.section-header-container
      h2 RESUMÉ
      .section-header-container-background

    .section-container.clearfix
      .large-container
        .col-md-3.column
          .resume-card-container.hidden-xs.hidden-sm
            .resume-card
              figure.resume-card-front
              figure.resume-card-back
          .resume-card-container.hidden-xs.hidden-sm
            .resume-card
              figure.resume-card-front
              figure.resume-card-back
        .col-md-6.resume-column
          #resume-download-wrapper
            a.button.resume-button-download(href='/resume')
              i.fa.fa-download
              | &nbsp; DOWNLOAD
            h3 OR TO SEE MORE
            a.button.resume-button-linkedin(href='https://linkedin.com/in/alecortega/' target='blank')
              i.fa.fa-linkedin
              | &nbsp; VIEW LINKEDIN
          .resume-trigger
            img#resume-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_40,w_1100/v1431880065/Official_Resume_abs4s9.png')
          img#envelope-top(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_40,w_1100/v1431732408/envelope-top_ynvrb1.png')
          img#envelope-bottom(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_40,w_1100/v1431387403/envelope-bottom_osl5jy.png')
        .col-md-3.column
          .resume-moleskin.hidden-xs.hidden-sm
          .resume-yoyo-container.hidden-xs.hidden-sm
            .resume-yoyo-body
            .resume-yoyo-string


  include layouts/sections/portfolio

  #contact.container
    .section-container.clearfix
      .contact-form-container.section-text-container.col-md-7
        h3 Get in Touch
        p Whether it be personal or professional I'd love to hear from you. Shoot me an email and I'll get back to you as soon as soon as I can. 

        form#contact-form.float-label(role='form', method='POST', action='/')
          .control.clearfix
            input(type="text" spellcheck="false" name="fullname", id='fullname', placeholder='Full Name', required)
            label.clearfix(for="fullname") Full Name
          .control
            input(type="text" spellcheck="false" name="email", placeholder="Your Email", required)
            label(for="email") Your Email
          .control
            textarea.message(type='text', name="message", placeholder='Your Message', rows='1',
            required)
          button.button.submit-button(type="submit")
            i.fa.fa-paper-plane
            | &nbsp; SEND MESSAGE

      .contact-links-container.col-md-4.col-md-offset-1
        .section-text-container
          h3 Find Me Elsewhere
          ul.fa-ul
            li.fa-li.fa.fa-twitter
              a.twitter.hidden-xs.hidden-sm(target= '_blank' href='https://twitter.com/WhyNotDoStuff') Twitter
            li.fa-li.fa.fa-dribbble
              a.dribbble.hidden-xs.hidden-sm(target= '_blank' href='https://dribbble.com/alecortega') Dribbble
            li.fa-li.fa.fa-linkedin
              a.linkedin.hidden-xs.hidden-sm(target= '_blank' href='https://linkedin.com/in/alecortega/') LinkedIn
            li.fa-li.fa.fa-medium
              a.medium.hidden-xs.hidden-sm(target= '_blank' href='https://medium.com/@whynotdostuff') Medium

  .footer
    #gear-four.gear-dark.hidden-xs.hidden-sm
    #gear-five.gear-dark
