extends layouts/default
block content
  #hero.hero
    a.hero-arrow(href='#about')
    //- Hero Navigation
    nav.navbar-hero.hidden-xs
      .navbar-container.clearfix
        a.navbar-name
          .logo-container
            .gear-navigation-large.light
            .gear-navigation-small.light
          |ALEC ORTEGA
        ul.navigation-links
          li
            a.about-link(href='#about') ABOUT
          li
            a.resume-link(href='#resume') RESUME
          li
            a.contact-link(href='#contact') CONTACT
    .hero-container
      h1
        |Developing for empathy,
        br
        |Engineering for ease.
      p I'm a design-minded front-end developer with a passion for building engaging, pixel-perfect experiences.
      a.button.js-get-started(href='#about') GET TO KNOW ME

  .nav-trigger.clearfix
    //- Main Navigation
    nav.navbar-main
      .navbar-container.clearfix
        a.navbar-name(href='#hero')
          .logo-container
            .gear-navigation-large.dark
            .gear-navigation-small.dark
          |ALEC ORTEGA
        a(title="Menu").navbar-hamburger.js-navbar-hamburger.hidden-md.hidden-lg
          span.line.line-1
          span.line.line-2
          span.line.line-3

        ul.navigation-links.js-main-links
          li
            a.about-link(href='#about') ABOUT
          li
            a.resume-link(href='#resume') RESUME
          li
            a.contact-link(href='#contact') CONTACT
  #about.about
    .section-container.row
      .col-sm-4
        img.about-photo(src="http://res.cloudinary.com/alecoortega/image/upload/q_70/v1440879297/ProfilePicture_jp2gjl.jpg")
      .col-sm-8
        h3 It's great to meet you
        p
          |I'm currently majoring in computer science and developing for behavior change as a front-end engineer at&nbsp
          a(href='http://www.wespire.com/' target='blank') WeSpire.
          |&nbspI previously worked at the world's largest startup accelerator and competition,&nbsp
          a(href='http://masschallenge.org/' target='blank') MassChallenge
          |, leading design initiatives and aiding with technical operations. <br><br> Two years ago I became homeless and taught myself to code both as a medium to express my passion for building experiences, and as an opportunity to make life what I wanted it to be. Now  I lead mentorship and at&nbsp
          a(href='http://www.resilientcoders.org/' target='blank') Resilient Coders
          |, an organization that teaches kids from traditionally under-served communities and correctional facilities how to code as an opportunity to do the same. <br><br> My belief is that passion inspires passion, I'm always looking for opportunities and where I can learn from those that are just as motivated to share their knowledge as I am to learn.
  #developer.developer
    .developer-background-container
      .gear-one.gear-dark
      .gear-two.gear-dark
      .gear-three.gear-dark
      #gear-six.gear-dark.hidden-xs
      .developer-overlay
    .section-header-container
      h2 Front-End Developer
      p I'm a front-end developer with experience in styling + markup languages, and JavaScript frameworks.
    .section-container.row
      .col-sm-3.collapse-left
        h3 Frameworks & Tools
        ul
          li
            i.devicon-nodejs-plain
            span Node.js, Express
          li
            i.devicon-bootstrap-plain
            span Bootstrap, Foundation
          li
            i.devicon-jquery-plain
            span jQuery
          li
            i.devicon-gulp-plain
            span Gulp, Grunt, Webpack
          li
            i.devicon-react-original
            span React
          li
            i.devicon-rails-plain
            span Ruby on Rails
          li
            i.devicon-git-plain
            span Git, GitHub
          h3.spacer Clean, Concise
          p I’m a major proponent of code readability and organization. It's about building something efficiently, not hastily. Readable, modular code leads to easier maintainability and fewer bugs. Which in the end, is just as important as meeting a deadline.

      .center-column.col-sm-6.hidden-xs
        #browser-developer-trigger
          img.browser#browser-developer-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_90,w_1150/v1438045670/BrowserLoFi_kiltfe.jpg' alt='Low Fidelity Browser Mockup')

      .col-sm-3.collapse-right
        h3.spacer-medium-down Knowledge is Power
        p New and awesome techology are continually being introduced. Learning a new framework or library isn't just about staying on the cutting edge, it's about the new experience that you're able to build with it.
        a.button.developer-button-github(href='https://github.com/alecortega' target='_blank')
          i.fa.fa-github.fa-lg
          | &nbsp;VIEW GITHUB
        h3 Languages
        ul
          li
            i.devicon-html5-plain
            span HTML5, Haml, Jade
          li
            i.devicon-css3-plain
            span CSS3, Sass, Scss
          li
            i.devicon-javascript-plain
            span JavaScript, CoffeeScript
          li
            i.devicon-ruby-plain
            span Ruby
          li
            i.devicon-python-plain
            span Python

  #designer.designer
    .section-header-container
      h2 User Interface Engineer
      p I'm a design-minded engineer passionate about implementing the experience of a design in its best possible form.
    .section-container.row
      .col-sm-3.column.collapse-left
        h3 Measure. Learn. Build.
        p Understanding how a user interacts with a product through analytics tools and making data-driven decisions is essential. Narrowing down areas with the most opportunity means developing features that really pack a punch.
        a.button.designer-button-behance(href='http://codepen.io/alecortega/' target='blank')
          i.fa.fa-codepen.fa-lg
          | &nbsp; VIEW CODEPEN
        h3 All Things Considered
        p There's more that goes into an interface than just making it look nice. Things like client constraints and use cases need to be taken into consideration.
      .center-column.col-sm-6.hidden-xs
        #browser-designer-trigger
          img.browser#browser-designer-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_80,w_1100/v1438045377/BrowserHiFi_bocbwq.jpg' alt='High Fidelity Browser Mockup')

      .col-sm-3.column.collapse-right
        h3.spacer-medium-down Software
        ul
          li
            i.devicon-photoshop-plain
            span Photoshop
          li
            i.devicon-illustrator-plain
            span Illustrator
          li
            i.fa.fa-diamond
            span Sketch 3
          li
            i.fa.fa-bars
            span Framer.js
          li
            i.fa.fa-line-chart
            span Mixpanel

        h3.spacer Develop for Empathy
        p The technology used to produce a product is easily forgotten, but the feeling you invoke in a user is what lasts. A performant, empathetic experience is far more powerful than any colored call-to-action button.
  #resume.resume
    .section-header-container
      h2 Track Record
      p I have experience in everything from sales and design, to engineering and teaching.
    .resume-column.left
      .recommendation-trigger.left.hidden-xs
        .recommendation.left
          img(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_60,w_200/v1441601822/AAEAAQAAAAAAAAZFAAAAJGIxOWNiYTliLWRlNTctNDQxZS05YzA1LTFkZmFiZDFlYzQ1MA_d0llj5.jpg' alt='Michelle C.' width="70" height="70")
          h3 Michelle C.
          h4.title Interaction Designer
          h4 Google
          .quote
            |"Alec is one of the most driven front-end developers I've ever worked with. He spends time outside of work honing his craft, teaching himself new skills and going above and beyond in his projects. He understands interfaces from a design perspective and cares about pixel perfection. In addition to all of this, Alec is an amazing personality to have on a team - witty, hardworking and thoughtful."
            a.readmore(href='https://www.linkedin.com/in/alecortega') &nbsp;More
      img.resume-eraser.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/v1438044391/eraser_ce4hhz.svg' alt='eraser')
      img.resume-paperclip-one.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/v1438044461/paperclip_m4khzg.svg' alt='paperclip')
      img.resume-paperclip-two.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/v1438044461/paperclip_m4khzg.svg' alt='paperclip')
      .resume-card-container.hidden-xs
        .resume-card.hidden-xs
          img.resume-card-front(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,h_600/v1438044017/card-front_zay3o6.jpg')
          img.resume-card-back(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,h_600/v1447641289/card-back_q3r63e.png')
    .resume-column.right
      img.moleskine.hidden-xs(src='http://res.cloudinary.com/alecoortega/image/upload/q_40/v1438041460/moleskin_u0d0bv.png' alt='Moleskine notebook')
      .recommendation-trigger.right.hidden-xs
        .recommendation.right
          img(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,q_60,w_200/v1438044568/john_dr4q6h.jpg' alt='John C.' width="70" height="70")
          h3 John C.
          h4.title Director of Operations
          h4 WeSpire
          .quote
            |"Alec is a very talented double threat. His impeccable design skills, affinity for writing code and drive for quality make him an extremely valuable asset for any team. What I enjoyed most about working with Alec was how committed to the team he is. There was never a task that he wouldn't roll up his sleeves and get done. I would recommend Alec without question, knowing any team he joins will be lucky to have him."
            a.readmore(href='https://www.linkedin.com/in/alecortega') &nbsp;More
    .section-container.row
      .center-column.col-sm-6.col-sm-offset-3
        .resume-trigger
          img#resume-element(src='http://res.cloudinary.com/alecoortega/image/upload/c_scale,w_1100/v1447997383/resume_gjtj69.png' alt='Resume')
        .resume-download-wrapper
          h3 Need a copy?
          a.button.resume-button-linkedin(href='/resume')
            i.fa.fa-download
            | &nbsp; DOWNLOAD
        .envelope-wrapper
          img.envelope-top(src='http://res.cloudinary.com/alecoortega/image/upload/v1439316659/envelope-top_f51wlf.svg' alt='Bottom of Envelope')
          img#envelope-bottom.envelope-bottom(src='http://res.cloudinary.com/alecoortega/image/upload/v1439316491/envelope-bottom_k0hwrb.svg' alt='Top of Envelope')
  #portfolio.portfolio.clearfix
    a.portfolio-item.one(target='blank' href='https://pgreen.wespire.com/')
      p WeSpire Homepage
      .portfolio-overlay
    a.portfolio-item.two(target='blank' href='http://patchpanel.alecortega.com/')
      p Patch Panel
      .portfolio-overlay
    a.portfolio-item.three(target='blank' href='https://twitterbattle-alecortega.herokuapp.com/')
      p Twitter Battle
      .portfolio-overlay
  #contact.contact
    .section-container.row
      .contact-form-container.col-sm-7
        h3 Get in touch
        p Now that you know a bit about me, let's make it mutual. Whether it be personal or professional, I'd love to hear from you. 
        form#contact-form.float-label(role='form', method='POST', action='/')
          .control.clearfix
            input(label="Your Full Name" type="text" spellcheck="false" name="name", id='name', placeholder='Full Name', required)
            label.clearfix(for="name") Full Name
          .control
            input(label="Your Email" type="text" spellcheck="false" name="email", placeholder="Your Email", required)
            label(for="email") Your Email
          .control
            textarea(label="Your Message" type='text', name="message", placeholder='Your Message', rows='1',
            required)
          button.button.submit-button(type="submit")
            i.fa.fa-paper-plane
            span &nbsp; SEND MESSAGE

      .contact-links-container.col-sm-4.col-sm-offset-1
        h3 Find me elsewhere
        ul
          li
            a(target= '_blank' href='https://github.com/alecortega')
              i.fa.fa-github
              span.hidden-xs GitHub
          li
            a(target= '_blank' href='http://codepen.io/alecortega/')
              i.fa.fa-codepen
              span.hidden-xs CodePen
          li
            a(target= '_blank' href='https://twitter.com/WhyNotDoStuff')
              i.fa.fa-twitter
              span.hidden-xs Twitter
          li
            a(target= '_blank' href='https://dribbble.com/alecortega')
              i.fa.fa-dribbble
              span.hidden-xs Dribbble
          li
            a(target= '_blank' href='https://linkedin.com/in/alecortega/')
              i.fa.fa-linkedin
              span.hidden-xs LinkedIn
          li
            a(target= '_blank' href='https://medium.com/@whynotdostuff')
              i.fa.fa-medium
              span.hidden-xs Medium

  .footer
    .gear-four.gear-dark
    .gear-five.gear-dark
