doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = 0')

    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    title('Alec Ortega | Front-End Developer')
    meta(name='description' content='The personal website of Alec Ortega, a front-end developer with a passion for building experiences and corgis.')
    meta(itemprop='name' content='Alec Ortega | Front-End Developer')
    meta(itemprop='description' content='The personal website of Alec Ortega, a front-end developer with a passion for building experiences and corgis.')
    meta(itemprop='image' content='')
    meta(property='og:title' content='Alec Ortega | Front-End Developer')
    meta(property='og:type' content='website')
    meta(property='og:url' content='http://alecortega.com')
    meta(property='og:image' content='')
    meta(property='og:site_name' content='Alec Ortega | Front-End Developer')
    meta(property='og:description' content='The personal website of Alec Ortega, a front-end developer with a passion for building experiences and corgis.')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='http://alecortega.com')
    meta(property='twitter:image' content='')
    meta(property='twitter:site' content='@whynotdostuff')
    meta(property='twitter:creator' content='@whynotdostuff')

    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild
  body
    block content

    script.
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
          function () {
            (b[l].q = b[l].q || []).push(arguments)
          });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-59799566-1');ga('send', 'pageview');

    script.
      var sc_project=10443953;
      var sc_invisible=1;
      var sc_security="0bd36c42";
      var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
      document.write("<script type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");

    // build:js scripts/vendor.js

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/gsap/src/uncompressed/TweenMax.js')
    script(src='/bower_components/gsap/src/uncompressed/TimelineMax.js')
    script(src='/bower_components/jquery-autosize/dist/autosize.js')
    script(src='/bower_components/jquery-smooth-scroll/jquery.smooth-scroll.js')
    script(src='/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js')
    script(src='/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js')

    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
